@charset "utf-8";
/*
 * init 初始化
 * style 样式
 */
body {margin:0; word-break:break-all; word-wrap:break-word;}
a, b, cite, div, em, form, fieldset, i, img, label, p, span, strong, var,
h1, h2, h3, h4, h5, h6,
ul, ol, li, dl, dt, dd,
table, thead, tbody, tr, th, td {margin:0; padding:0; border:none; font-style:normal; list-style:none;}
a {color:#333; text-decoration:none;}
a:hover {color:#000; text-decoration:underline;}
input, textarea, select {outline:none;}
/* overall */
.fl {display:inline; float:left;}
.fr {display:inline; float:right;}
.fs14 {font-size:1.17em!important;}
.fs16 {font-size:1.33em!important;}
.fwb {font-weight:bold!important;}
.fwn {font-weight:normal!important;}
.tal {text-align:left!important;}
.tac {text-align:center!important;}
.tar {text-align:right!important;}
.bgn {background:none!important;}
.brrn {border:none!important;}
/*
 * Properties 属性
 * style 样式
 */
/* width height */
.wh-txta .inipttxt {width:114px; height:19px; line-height:19px;}
@-moz-document url-prefix()
{
   .wh-txta .inipttxt {height:16px\0; padding-top:3px\0;}
}
/* color */
.c-a {color:#c00!important;}
/* margin padding */
.mp-a {margin-top:-2px;}
/*
 * Elements 元素
 * style 样式
 */
/* clear */
.clear {height:0; clear:both; display:block; overflow:hidden;}
/* posbox */
.posbox {width:1000px; height:0; margin:0 auto; position:relative; z-index:1;}
/* blankbox */
.blankbox {clear:both; visibility:hidden;}
/* icns */
.icns {display:-moz-inline-box; display:inline-block; overflow:hidden;}
.icns16 {width:16px; height:16px; background:url(../images/icns16.gif) no-repeat -999px 0;}
/* ipttxt */
.ipttxt, .inipttxt,
.txtr, .intxtr {display:inline; float:left;}
.ipttxt,
.txtr {overflow:hidden;}
.inipttxt,
.intxtr {color:#999; font-size:12px; padding:0; padding-left:2px; background:none; border:none;}
.ipttxt-a {background-color:#fff; border:1px solid; border-color:#bababa #e3e3e3 #e2e2e2 #d3d3d3;}
/* iptchk */
.iptchk {height:24px; line-height:24px; display:inline; float:left;}
.iptchk .iniptchk,
.iptchk span {float:left;}
.iptchk .iniptchk {margin:5px 0 0; margin:4px 0 0\0; margin:2px -3px 0\9; *margin:1px -3px -3px -4px;/*ie7、ie6*/ _margin:0 -3px -3px -4px;/*ie6*/}
.iptchk span {margin-left:5px; white-space:nowrap; cursor:pointer;}
/* selectbox */
.selectbox {cursor:pointer; position:relative;}
.selectbox .tt {padding-left:6px; display:inline; float:left; overflow:hidden;}
.selectbox .icns {width:16px; height:16px; margin:2px 2px 0 0; background:url(../images/user_arr.gif) no-repeat; float:right;}
.selectlst {width:100%; background-color:#fff; border:#e6e6e6 1px solid; position:absolute; left:-1px; clear:both; overflow:hidden; *zoom:1;}
.selectlst .option {padding-left:6px; clear:both; overflow:hidden; *zoom:1;}
.selectlst .hover {background-color:#f8f8f8;}
.selectbox-a .selectlst {top:21px;}
/* btn */
.btn,
.btnx2,
.btnx3 {display:-moz-inline-box; display:inline-block; overflow:hidden;}
.btn:hover,
.btnx2:hover,
.btnx3:hover {text-decoration:none;}
.btnx2, .btnx2 .inbtn,
.btnx3, .btnx3 .btnx3_l, .btnx3 .btnx3_r {text-align:center; background-repeat:no-repeat; white-space:nowrap; cursor:pointer;}
.btnx2 .inbtn,
.btnx3 .btnx3_l, .btnx3 .btnx3_r {display:block; _display:inline-block;}
.btn .iptbtn,
.btnx2 .iptbtn,
.btnx3 .iptbtn {padding:0; background:none; border:none; white-space:nowrap; cursor:pointer; overflow:hidden;}
.btnx2,
.btnx2 .inbtn {background:url(../images/btnx2.gif) no-repeat -999px 0;}
.btnx2-a,
.btnx2-a .inbtn {height:21px; line-height:21px;}
.btnx2-a {color:#fff; padding-right:3px; background-position:right -21px;}
.btnx2-a .inbtn {width:48px; padding-left:3px; background-position:0 0;}
.btnx2-a .iptbtn {color:#fff; width:48px; height:21px;}
.btnx2-a:hover {color:#fff; background-position:right -63px;}
.btnx2-a:hover .inbtn {background-position:0 -42px;}
/*
 * content 内容
 * style 样式
 */
body {line-height:2em; color:#333; font-family:"宋体"; font-size:0.75em; padding-bottom:10px;}
/* top */
.top {background:url(../images/layout/top.gif) repeat-x; border-bottom:#e6e6e6 1px solid; clear:both;}
.intop {width:980px; height:29px; margin:0 auto; padding:0 10px;}
.top .user {line-height:21px; padding:4px 0 0 20px; background:url(../images/user.gif) no-repeat 0 3px;}
.top .user .row,
.top .user .row_btn,
.top .user .row_reg,
.top .user .lbl {float:left;}
.top .user .ipttxt,
.top .user .row_btn,
.top .selectbox {margin-right:10px;}
.top .help {padding-top:4px;}
.top .line {color:#ccc;}
/* wrap */
.wrap {background:url(../images/layout/wrap.png) repeat-x; clear:both;}
.inwrap {padding-top:7px; background:url(../images/layout/inwrap.png) no-repeat center 107px;}
/* head */
.head {width:1000px; margin:0 auto; background:url(../images/layout/head.gif) no-repeat right -103px; clear:both;}
.head .head_l {padding:0 3px; background:url(../images/layout/head.gif) no-repeat;}
.head .head_r {height:102px; background-color:#fff; border-top:#f3f3f3 1px solid;}
.head .logo {width:174px; height:60px; margin:14px 0 0 12px;}
.head .banner {width:612px; height:86px; margin:8px 0 0 4px;}
.head .service {width:168px; height:70px; line-height:18px; color:#666; margin:12px 4px 0 0; padding:10px 0 0 16px; background:url(../images/service.gif) no-repeat;}
.head .service .img {width:114px; height:19px; margin-top:5px; background:url(../images/400.gif) no-repeat; text-indent:-999px; overflow:hidden;}
/* menu */
.menu {width:730px; height:35px; margin:0 auto; padding-left:270px; clear:both;}
.menu a {width:74px; height:28px; line-height:28px; color:#fff; font-size:1.2em; text-align:center; margin-top:4px; float:left;}
.menu a:hover {color:#fff; background:url(../images/layout/menu.gif) no-repeat 0 -28px; text-decoration:none;}
.menu .cur,
.menu .cur:hover {background:url(../images/layout/menu.gif) no-repeat;}
.menu .line {width:1px; height:12px; margin:11px 8px 0; background-color:#e27979; text-indent:-999px; float:left; overflow:hidden;}
/* uhere */
.uhere {padding:5px; clear:both;}
.uhere .inuhere {width:990px; margin:0 auto;}
/* main */
.main {width:1000px; margin:0 auto; clear:both;}
.main .box {clear:both; *zoom:1;}
.main .lyc {margin-left:10px;}
.main .lyw-a {width:260px;}
.main .lyw-b {width:450px;}
.main .lyw-c {width:270px;}
.main .lyw-d {width:720px;}
.main .lyw-e {width:730px;}
.main .lyw-f {width:190px;}
.main .lyw-g {width:800px;}
/* links */
.links {width:998px; margin:10px auto 0; border-left:#dcdae2 1px solid; border-right:#dcdae2 1px solid; clear:both;}
.links .row {width:100%; height:34px; background:url(../images/layout/links.png) repeat-x; display:inline; float:left; clear:both;}
.links .row .tt {width:132px; padding-right:18px; background:url(../images/layout/links_tt.png) no-repeat right 0; float:left;}
.links .row .tt b {height:34px; line-height:34px; padding-left:20px; background:url(../images/layout/links.png) repeat-x 0 -34px; display:block;}
.links .row .ctt {width:83%; height:32px; line-height:32px; color:#ccc; margin:1px 0; border-right:#fff 1px solid; float:right;}
/* foot */
.foot {width:996px; text-align:center; margin:10px auto 0; padding:1px; border:#dcdae2 1px solid; clear:both;}
.foot .about {padding:16px 0; background-color:#f5f5f5;}
/* pager */
.pager {padding:10px; background-color:#fff; clear:both; overflow:hidden; *zoom:1;}
.inpager {display:inline; float:right;}
.pager span,
.pager a {margin:3px 4px 0px 0px; float:left; overflow:hidden;}
.pager .pagernum {margin:0px 10px 0px 0px;}
.pager .pagernum b {color:#ff8725; padding:0px 5px;}
.pager .cur,
.pager a {height:16px; line-height:16px; padding:0px 6px; color:#000; background-color:#fff; border:#ffdbbd 1px solid;}
.pager .cur {background-color:#fff4ea;}
.pager .prev {padding-left:16px;}
.pager .next {padding-right:16px;}
.pager .prev, .pager .next,
.pager .prev:hover, .pager .next:hover {color:#ff8725;}
.pager .prev b,
.pager .next b {width:16px; height:16px; margin:0 -16px -16px 0; background:url(../images/layout/pager.gif) no-repeat; cursor:pointer; position:relative; top:0px; display:block;}
.pager .prev b {left:-16px;}
.pager .next b {background-position:-16px 0; left:36px;}
.pager .tonum {padding-left:15px; display:inline; float:left;}
.pager .tonum span {margin-top:0px;}
.pager .tonum .ipttxt {width:37px; height:16px; margin:3px 4px 0px 0px; background-color:#fff; border:#ffdbbd 1px solid; float:left;}
.pager .tonum .ipttxt .inipttxt {width:35px; height:16px; line-height:16px;}
.pager .tonum .btn {width:30px; height:18px; color:#ff8725; font-family:"宋体"; font-weight:bold; margin-top:3px; padding:0; background-color:#fff; border:#ffdbbd 1px solid; cursor:pointer; white-space:nowrap;}
/* mod */
.mod {margin-top:10px; clear:both;}
.mod .mm {clear:both; overflow:hidden; *zoom:1;}
.mod .mh .tt {font-weight:bold; display:inline; float:left;}
.mod .mh .tt .icns {width:12px; height:12px; margin:5px 5px 0 0; _margin-right:2px; background:url(../images/mod/mhtt.png) no-repeat; _background:url(../images/blank.gif) repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/mod/mhtt.png", sizingMethod="crop"); float:left;}
.mod .mh .more {margin:4px 6px 0 0; float:right;}
.mod .mh .more a {color:#666;}
.mod .mh .tabh {margin-left:6px; display:inline; float:left;}
.mod-a {width:260px; padding-top:26px; position:absolute; top:-46px; clear:both;}
.mod-a .mh {width:234px; height:44px; margin:0 auto -44px; background:url(../images/choose/choose.png) no-repeat; _background:url(../images/blank.gif) repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/choose/choose.png", sizingMethod="crop"); cursor:pointer; position:relative; top:-26px; overflow:hidden;}
.mod-a .mh .tt {color:#fff; font-size:1.2em; margin:7px 0 0 80px; display:inline; float:left;}
.mod-a .mh .icns {width:16px; height:16px; margin:12px 0 0 3px; background:url(../images/choose/choose_tt.png) no-repeat; float:left;}
.mod-a .mm {clear:both;}
.mod-a .mmh {height:3px; background:url(../images/choose/choose_ctt_t.png) no-repeat; _background:url(../images/blank.gif) repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/choose/choose_ctt_t.png", sizingMethod="crop"); overflow:hidden;}
.mod-a .mmb {background-color:#fff7e1; border-left:#fcac00 3px solid; border-right:#fcac00 3px solid;}
.mod-a .mmf {height:3px; background:url(../images/choose/choose_ctt_b.png) no-repeat; _background:url(../images/blank.gif) repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/choose/choose_ctt_b.png", sizingMethod="crop"); overflow:hidden;}
/* choosebox */
.choosebox {clear:both; *zoom:1;}
.choosebox .row {width:100%; background:url(../images/choose/choose_line.gif) repeat-x left bottom; display:inline; float:left; clear:both;}
.choosebox .sort {width:90px; height:108px; display:inline; float:left;}
.choosebox .img {width:35px; height:35px; margin:24px auto 0; display:block;}
.choosebox .name {height:24px; text-align:center; overflow:hidden;}
.choosebox .tagbox {width:60%; padding:35px 0 0 5px; display:inline; float:left; clear:none;}
.choosebox .tagbox .row {background:none;}
.choosebox .tagbox .row span {margin-right:20px;}
.choosebox .name,
.choosebox .name a,
.choosebox .tagbox,
.choosebox .tagbox a {color:#8f1e00;}
.choosebox .tagbox .award,
.choosebox .tagbox .award:hover {color:#fff;}
/* tagbox */
.tagbox {clear:both; *zoom:1;}
.tagbox .row {width:100%; display:inline; float:left; clear:both;}
.tagbox .lbl,
.tagbox .row span {display:inline; float:left;}
.tagbox .row span {margin-right:10px; position:relative;}
.tagbox .row span a {white-space:nowrap;}
.tagbox .award {width:34px; height:17px; line-height:15px; text-align:center; margin:0; background:url(../images/choose/award.gif) no-repeat; position:absolute; left:12px; top:-12px; display:block; overflow:hidden;}
.tagbox .award:hover {text-decoration:none; background-position:0 -17px;}
/* zoom */
/* ad */
.ad {clear:both; *zoom:1;}
.ad .row {width:100%; display:inline; float:left; clear:both;}
/* tipsbox */
.tipsbox {clear:both; *zoom:1;}
.tipsbox .row {width:100%; display:inline; float:left; clear:both;}
/* txtlst */
.txtlst {clear:both; *zoom:1;}
.txtlst .row {width:100%; display:inline; float:left; clear:both;}
.txtlst .tt,
.txtlst .time {overflow:hidden;}
/* imglst */
.imglst {clear:both; *zoom:1;}
.imglst .row {width:100%; display:inline; float:left; clear:both;}
/* tabh */
.tabh {clear:both;}
.tabh a,
.tabh span {cursor:pointer; float:left;}
.tabm {clear:both; *zoom:1;}
/* formbox */
.formbox {clear:both; *zoom:1;}
.formbox .row {width:100%; display:inline; float:left; clear:both;}
.formbox .row_l {display:inline; float:left;}
.formbox .row_r {display:inline; float:right;}
/* tblbox */
.tblbox {clear:both; *zoom:1;}
.tblbox .tbl {width:100%; table-layout:fixed;}
.tbl .inth,
.tbl .intd {clear:both; *zoom:1;}
.tbl .hide {white-space:nowrap; clear:both; overflow:hidden; *zoom:1;}
.tbl .last th,
.tbl .last td {border-bottom:none;}