#set($title="投注方案管理")
#set($styles=["css/jqueryui/jquery-ui"])
<script type="text/javascript" src="$base/js/jquery-ui.js"></script>

<div class="w">
    <div class="tabH">
        <span #if("REC_SCHEME" == $tab) class="current" #end><a href="$base/gf/list_rec.do?tab=REC_SCHEME"><b>推荐方案</b></a></span>
        <span #if("JCZQ" == $tab) class="current" #end><a href="$base/gf/list_rec.do?tab=JCZQ"><b>在售竞彩足球晒单</b></a></span>
        <span #if("JCLQ" == $tab) class="current" #end><a href="$base/gf/list_rec.do?tab=JCLQ"><b>在售竞彩篮球晒单</b></a></span>
        <span #if("CTZC" == $tab) class="current" #end><a href="$base/gf/list_rec.do?tab=CTZC"><b>在售传统足彩晒单</b></a></span>
    </div>
    <div class="bx_c">
        <div class="bx_in">
            <form id="qForm" action="$base/gf/list_rec.do" method="post">
            <input type="hidden" name="tab" value="${tab}"/>
            <input type="hidden" name="lotteryId" value="${lotteryId}"/>
            <input type="hidden" name="pageNo" value="${paging.pageNo}"/>
            <div class="tabH tabH02 panel">
        <span class="current"><b>查询条件</b></span>
        <div class="l">
          <select name="state" value="${state}" id="stateSel">
            <option value="-1">不限状态</option>
            <option value="0">未出票</option>
            <option value="1">可出票</option>
            <option value="2">已请求出票</option>
            <option value="5100">出票成功</option>
            <option value="5101">出票失败</option>
            <option value="5202">未中奖</option>
            <option value="5203">中奖未派奖</option>
            <option value="12">已派奖</option>
            <option value="99">流标</option>
            <option value="100">撤单</option>
          </select>
          <select name="playId" value="$!{playId}" id="pSel">
            <option value="">不限玩法</option>
          #if("JCZQ" == $lotteryId)
            <option value="01_JC_1">胜平负单关</option>
            <option value="01_JC_2">胜平负过关</option>
            <option value="02_JC_1">比分单关</option>
            <option value="02_JC_2">比分过关</option>
            <option value="03_JC_1">总进球数单关</option>
            <option value="03_JC_2">总进球数过关</option>
            <option value="04_JC_1">胜负半全单关</option>
            <option value="04_JC_2">胜负半全过关</option>
          #elseif("JCLQ" == $lotteryId)
            <option value="06_LC_1">让分胜负单关</option>
            <option value="06_LC_2">让分胜负过关</option>
            <option value="07_LC_1">胜负单关</option>
            <option value="07_LC_2">胜负过关</option>
            <option value="08_LC_1">胜分差单关</option>
            <option value="08_LC_2">胜分差过关</option>
            <option value="09_LC_1">大小分单关</option>
            <option value="09_LC_2">大小分过关</option>
          #elseif("CTZC" == $lotteryId)
            <option value="24_ZC_14">14场胜平负</option>
            <option value="25_ZC_R9">胜负任9</option>
            <option value="26_ZC_BQ">6场半全</option>
            <option value="27_ZC_JQ">4场进球</option>      
          #end
          </select>
         #if("JCZQ" == $lotteryId || "JCLQ" == $lotteryId)
         <select name="passType" value="$!{passType}" id="ptSel">
                  <option value="">不限过关方式</option>
                  <option value="1@1">单关</option>
                  <option value="2@1">2串1</option>
                  <option value="2@3">2串3</option>
                  <option value="3@1">3串1</option>
                  <option value="3@3">3串3</option>
                  <option value="3@4">3串4</option>
                  <option value="3@7">3串7</option>
                  <option value="4@1">4串1</option>
                  <option value="4@4">4串4</option>
                  <option value="4@5">4串5</option>
                  <option value="4@6">4串6</option>
                  <option value="4@11">4串11</option>
                  <option value="4@15">4串15</option>
                  <option value="5@1">5串1</option>
                  <option value="5@5">5串5</option>
                  <option value="5@6">5串6</option>
                  <option value="5@10">5串10</option>
                  <option value="5@16">5串16</option>
                  <option value="5@20">5串20</option>
                  <option value="5@26">5串26</option>
                  <option value="5@31">5串31</option>
                  <option value="6@1">6串1</option>
                  <option value="6@6">6串6</option>
                  <option value="6@7">6串7</option>
                  <option value="6@15">6串15</option>
                  <option value="6@20">6串20</option>
                  <option value="6@22">6串22</option>
                  <option value="6@35">6串35</option>
                  <option value="6@42">6串42</option>
                  <option value="6@50">6串50</option>
                  <option value="6@57">6串57</option>
                  <option value="6@63">6串63</option>
                  <option value="7@1">7串1</option>
                  <option value="7@7">7串7</option>
                  <option value="7@8">7串8</option>
                  <option value="7@21">7串21</option>
                  <option value="7@35">7串35</option>
                  <option value="7@120">7串120</option>
                  <option value="8@1">8串1</option>
                  <option value="8@8">8串8</option>
                  <option value="8@9">8串9</option>
                  <option value="8@28">8串28</option>
                  <option value="8@56">8串56</option>
                  <option value="8@70">8串70</option>
                  <option value="8@247">8串247</option>
                </select>
         #end
          发起人：<input type="text" name="sponsor" value="$!{sponsor}" maxlength="30" size="9"/>
                方案编号：<input type="text" name="schemeId" value="$!{schemeId}" maxlength="10" size="9"/>
                  </div>
        <div class="r" style="margin: 4px 4px 0 0">
          <input type="submit" class="hand btn" value="查询">
        </div>
            </div>
            </form>
        </div>
        <table cellspacing="0" id="dataGrid" class="tab">
            <tr>
        <th style="width:50px;text-align:center;"><span>方案编号</span></th>
                <th style="width:70px;text-align:center;"><span>玩法</span></th>
                <th style="width:40px;text-align:center;"><span>类型</span></th>
                <th style="width:100px;text-align:center;"><span>发起人</span></th>
                <th style="width:50px;text-align:right;"><span>投注倍数</span></th>
                <th style="width:60px;text-align:right;"><span>金额（元）</span></th>
                <th style="width:70px;text-align:center;"><span>投注时间</span></th>
                <th style="width:70px;text-align:center;"><span>投注状态</span></th>
                <th style="width:70px;text-align:center;"><span>状态</span></th>
        <th style="width:70px;text-align:center;">操作</th>
            </tr>
        
            #foreach($s in $paging.results)
            <tr>
                <td style="text-align:center;">${s.id}</td>
                <td style="text-align:center;">$status.playName($s.playId)</td>
                <td style="text-align:center;">#schemeType($s.type)</td>
                <td style="text-align:center;">${s.sponsor}</td>
                <td style="text-align:right;">${s.multiple}</td>
        <td style="text-align:right;">￥${s.totalAmount}</td>
                <td style="text-align:center;">$date.format("MM-dd HH:mm", ${s.createdTime})</td>
                <td style="text-align:center;">#saleStatus($s.saleStatus)</td>
                <td style="text-align:center;">$status.bet($s.status)</td>
        <td style="text-align:center;">
          <a href="javascript:void(0);" _action="view" _sid="${s.id}" title="查看详情">详情</a>
          #if($s.recommendation==0)
          <a href="javascript:void(0);" _action="recommend" _sid="${s.id}" title="推荐">
          <span class="red">推荐</span>
          </a>
          #else
          <a href="javascript:void(0);" _action="cancel_recommend" _sid="${s.id}" title="取消推荐">
          <span class="red">取消推荐</span>
          </a>
          #end
        </td>
            </tr>
            #end
        </table>

    </div>
    <div class="page_c">#pager($paging, 8, "pager")</div>
</div>

<script language="javascript" type="text/javascript">
function pager_reload(pn){
    $('#qForm').find(':input[name="pageNo"]').val(pn).end().submit();
}
$(function(){
    var J = jQuery;
    $('#fromDP, #toDP').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '上月',
        nextText: '下月',
        dayNamesMin: ['日','一','二','三','四','五','六'],
        monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
    });
    $('#stateSel option[value="${state}"]').attr('selected', 'selected');
    $('#pSel option[value="$!{playId}"]').attr('selected', 'selected');
    $('#ptSel option[value="$!{passType}"]').attr('selected', 'selected');
    
    function query(){
        var f = $('#fromDP').datepicker('getDate');
        var t = $('#toDP').datepicker('getDate');
        if(t.getTime() < f.getTime()){
            alert('终止日期不能早于开始日期');
            return false;
        }
        if((t.getTime() - f.getTime()) / 86400000 > 90){
            alert('查询日期区间不能超过90天');
            return false;
        }
        $('#qForm').submit();
    }
    
    // 查看详情
    $('#dataGrid td a[_action="view"]').bind('click', function(){
        var sid = $(this).attr('_sid');
        xhOpenWindow('../scheme/view.do?id=' + sid, {
            id: 's_' + sid,
            title: '查看投注方案详情',
            height: 600,
            width: 900
        });
        
        return false;
    });
    
    // 推荐
    $('#dataGrid td a[_action="recommend"]').bind('click', function(){
        var sid = $(this).attr('_sid');
        
        if(confirm('你确定要推荐此方案吗？')){
            xhOpenWindow('$base/gf/rec_scheme.do?id=' + sid, {
                id: 's_' + sid,
                title: '推荐方案',
                height: 600,
                width: 900
            });
        }
        return false;
    });
    
    // 取消推荐
    $('#dataGrid td a[_action="cancel_recommend"]').bind('click', function(){
        var sid = $(this).attr('_sid');
        
        if(confirm('你确定要取消推荐此方案吗？')){
            xhOpenWindow('$base/gf/cancel_rec_scheme.do?id=' + sid, {
                id: 's_' + sid,
                title: '取消推荐方案',
                height: 600,
                width: 900
            });
        }
        return false;
    });
    
});
</script>