#set($layout="web/topic.vm")
#set($p_title="中奖喜报")
#set($styles=["css/topic.css", "js/web/jquery-ui/jquery-ui.css",  
	"css/autocomplete.css", 
	"css/list-open.css"])
#set($scripts=[])
<script type="text/javascript">
	$(function() {
    	ajaxRendWinList(1);
	});
</script>
<div class="winner-content-left">
    <div class="davcai-nav" id="whl">
  	   <div class="davcai-nav-box" >
      	     <ul class="davcai-nav-tab">
      	     	<li class="active" _type="winningList"><a href="javascript:void(0);">中奖喜报</a></li>
      	     	<li _type="notice"><a href="http://www.davcai.com/hotDiscuss">热门讨论</a></li>
      	     	<li _type="latest"><a href="http://www.davcai.com/latestPublish">最近发表</a></li>
      	     </ul>
       </div>
      <p class="davcai-nav-classify">
      	 <label _t="all" class="current">全部</label>
         <label _t="myfollowing">我关注人的</label>
      </p>
      <span class="date-time"></span>
     </div><!-------------------davcai-nav部分--------------------------->
     <ul class="status-list" all style="margin-left: 55px;margin-right: 10px;"></ul>
     <ul class="status-list" myfollowing style="display:none;margin-left: 55px;margin-right: 10px;"></ul>
</div><!-------hot-content-left部分结束------>