#set($title="自动推荐用户列表")
#set($styles=["css/jqueryui/jquery-ui"])
#set($u=$user)
<script language="javascript" type="text/javascript" src="$base/js/jquery-ui.js"></script>
<div class="w">
    <div class="bx_c">
    <form action="$base/gf/save_rec_user.do" method="GET">
        <input type="hidden" name="id" value="${u.id}"/>
        <input type="hidden" name="operatorId" value="${myId}"/>
        <table cellspacing="0" class="tab">
            <tr>
                <td style="text-align:right;width:110px;">用户ID：</td><td>${u.id}</td>
                <td style="text-align:right;width:110px;">用户登录名：</td><td>${u.username}</td>
            </tr>
            <tr>
                <td style="text-align:right;">真实姓名：</td><td>${u.realname}</td>
                <td style="text-align:right;">身份证号：</td><td>$!{u.idNumber}&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:right;">手机号码：</td><td>$!{u.mobile}&nbsp;</td>
                <td style="text-align:right;">联系电话：</td><td>$!{u.phone}&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:right;">电子邮件：</td><td colspan="3">$!{u.email}&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:right;">联系地址：</td><td colspan="3">$!{u.address}&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:right;">性别：</td><td>#if(${u.gender} == 0)保密#elseif(${u.gender} == 1)男#else 女#end</td>
                <td style="text-align:right;">出生日期：</td><td>#if(${u.birthday})$date.format("yyyy-MM-dd", $!{u.birthday})#else &nbsp; #end</td>
            </tr>
            <tr>
                <td style="text-align:right;">省份：</td><td>$!{u.province}&nbsp;</td>
                <td style="text-align:right;">城市：</td><td>$!{u.city}&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:right;">注册日期：</td><td>$date.format("yyyy-MM-dd", ${u.createdTime})</td>
                <td style="text-align:right;">注册IP：</td><td>$!{u.ip}&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:right;">最近登录时间：</td><td>$date.format("yyyy-MM-dd", ${u.lastLoginTime})</td>
                <td style="text-align:right;">最近登录IP：</td><td>$!{u.lastLoginIp}&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:right;">彩种：</td>
                <td colspan="3">
                #foreach($lottery in $lotteries.entrySet())
                <input type="checkbox" name="lotteries" value="$lottery.key" checked="true"/>&nbsp; $lottery.value &nbsp;&nbsp;
                #end
                </td>
            </tr>
            <tr><td colspan="4" style="text-align:center; padding: 5px 0px;">
            <input type="submit" value="提交" style="padding:3px;"/>
            </td></tr>
        </table>
     </form>
  </div>
</div>

<script language="javascript" type="text/javascript">
    $('
</script>