#set($js=["$base/js/jet/jet.core.js", "$base/js/xhcms/jooe.core.js", "$base/js/xhcms/jooe.event.js"])
<div class="bx_c" >
	<table cellspacing="0"  class="tab">
		<tr>
   	  <th>提示:</th>
		</tr>
		<tr>
      <td style="text-align:center;">#if($message)${message}#else 您的操作已经完成#end，三秒后关闭当前窗口!<span id="info">(剩余5秒)</span</td>
		</tr>
		<tr>
			<td style="text-align:center;">
				<a href="javascript:void(0);" onclick="xhCloseWindow();return false;">立即关闭</a>
				<br/>
				#if(${targetPage})
				<a href="http://admin.davcai.com/lottery/${targetPage}">返回列表页</a>
				#end
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
    var count = 4;
    var intervalId;
    function countDown() {
    	  $("#info").html("(剩余" + count + "秒)");
    
      	if(count == 0) {
      		  clearInterval(intervalId);
      		  xhCloseWindow();
      	}
    	
    	 count--;
    }
    
    intervalId = setInterval("countDown();", 1*1000);	
</script>