body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:159px;
    top:55px;
    width:301px;
    height:278px;
    overflow:hidden;
}

#pd1u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:278px;
    
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:278px;
    
}

#u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:101px;
    overflow:hidden;
}

#pd0u1 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:101px;
    
}

#u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:305px;
    height:105px
}

.u3_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:20px;
    width:100px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:100px;
    top:20px;
    width:100px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:200px;
    top:20px;
    width:100px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:40px;
    width:100px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u17_container {
    position:absolute;
    left:100px;
    top:40px;
    width:100px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u19_container {
    position:absolute;
    left:200px;
    top:40px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:60px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u23_container {
    position:absolute;
    left:100px;
    top:60px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u25_container {
    position:absolute;
    left:200px;
    top:60px;
    width:100px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u27_container {
    position:absolute;
    left:0px;
    top:80px;
    width:100px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u29_container {
    position:absolute;
    left:100px;
    top:80px;
    width:100px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../页面_2_files/u3_normal.png');
}

.u31_container {
    position:absolute;
    left:200px;
    top:80px;
    width:100px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../页面_2_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:50px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u34 {
    position:absolute;
    left:2px;
    top:17px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:0px;
    top:50px;
    width:301px;
    height:51px;
    overflow:hidden;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:301px;
    height:51px;
    
}

.u36_normal {
    background-image: url('../页面_2_files/u33_normal.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:56px;
}

.u37 {
    position:absolute;
    left:2px;
    top:17px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

