##parse("web/inc/header_login.vm")
#if($user)
  #parse("web/inc/header_login.vm")
#else
   #parse("web/inc/header_not_login.vm")
#end
    <div id="recommendation">
        <div  class="recommendation-content">
            ${screen_content}
            #parse("/web/recommend/recommend_right.vm")
        </div>
    </div>
#parse("web/inc/footer_login.vm")