#set($title="活动公告")

<link type="text/css" rel="stylesheet" href="$base/css/style.css" />
#set($js=["js/xhcms/ui.window.js", "js/xhcms/editor.js", "js/jquery.validate.js", "js/lottery/activity.editor.js"])

<div class="w">
  <div class="bx_c">
    <div class="bx_in">
      <form id="qForm" action="$base/activity/view.do" method="post">
		<input type="hidden" name="pageNo" value="${paging.pageNo}"/>
        <div class="tabH tabH02 panel">
          <span class="current"><b>条件查询</b></span>
          <div class="l">
                      活动名称: <input type="text" name="activityName"/>
          </div>
          <div class="r" style="margin: 4px 4px 0 0"><input id="addBtn" type="button" class="hand btn" value="添加"></div>
          <div class="r" style="margin: 4px 4px 0 0"><input id="queryBtn" type="submit" class="hand btn" value="查询"></div>
        </div>
      </form>
    </div>
    
    <table id="dataGrid" cellspacing="0" summary="" class="tab">
      <tr class="">
        <th style="width:60px;text-align:center;">活动编号</th>
        <th style="width:150px;text-align:center;">活动名称</th>
        <th style="text-align:center;">活动内容</th>
        <th style="text-align:center;">状态</th>
        <th style="text-align:center;">顺序</th>
		<th style="width:150px;text-align:center;">操作</th>
      </tr>
      #foreach($p in $paging.results)
      <tr _id="$p.id">
        <td style="text-align:center;">$p.id</td>  
        <td style="text-align:left;">$p.activityName</td>            
        <td style="text-align:left;">$p.activityDesc</td>
        <td style="text-align:center;" _attr="$p.status">#if(1==$p.status)有效 #else <span style="color:red">无效</span> #end</td>          
        <td style="text-align:center;">$p.sequenceNumber</td>          
        <td style="text-align:left;">
			<a href="javascript:void(0);" _op="edit">编辑</a> 
			<a href="javascript:void(0);" _op="delete">删除</a> 
		</td>            
      </tr>
      #end
    </table>
  </div>
  <div class="page_c">#pager($paging 8 "pager")</div>
</div>
  
<script type="text/javascript" language="javascript">
function pager_reload(pn){
    $('#qForm').find(':input[name="pageNo"]').val(pn).end().submit();
}

$(function(){
    $('#dataGrid a[_op="edit"]').bind('click', function(){
        var _tr = $(this).closest('tr');
        new activityEditor({
            width: 540, 
            height: 335, 
            data: {
                id: $('td', _tr).eq(0).text(),
                activityName: $('td', _tr).eq(1).text(),
                activityDesc: $('td', _tr).eq(2).text(),
                status: $('td', _tr).eq(3).attr("_attr"),
                sequenceNumber: $('td', _tr).eq(4).text()
            },
            callback: function(){
                $('#qForm').submit();
            }
        });
        return false;
    });
    
    $('#dataGrid a[_op="delete"]').bind('click', function(){
        if(confirm('确定要删除该活动？')){
            var tr = $(this).closest('tr');
            jQuery.getJSON('$base/activity/aj_remove.do', {activityNotifyId: tr.attr('_id')}, function(json){
                if(json.success){
                    tr.remove();
                    $('#dataGrid tr:gt(0)').filter(':last').addClass('last');
                }else{
                    alert(json.data);
                }
            });
        }
        return false;
    });
	
    $('#addBtn').bind('click', function(){
        new activityEditor({
            width: 540, 
            height: 300, 
            callback: function(){
            	$('#qForm').submit();
            }
        });
    });
});
</script>