<table class="tbl" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <th class="thl" style="width:80px;"><div class="inth"><div class="hide">序号</div></div></th>
    <th style="width:160px;"><div class="inth"><div class="hide">玩法</div></div></th>
    <th style="width:200px;"><div class="inth"><div class="hide">投注内容</div></div></th>
    <th><div class="inth"><div class="hide">开赛时间</div></div></th>
  </tr>
  #foreach($m in ${schemeView.cgjTeams})
  #getPlayId($schemeView, $m)
  <tr>
    <td class="tdl"><div class="intd">$!{m.matchId}</div></td>
    <td><div class="intd">$status.getPlayName($!{schemeView.playId})</div></td>
    <td><div class="intd"></div>$!{m.teamName}($!{m.odds})</td>
    <td><div class="intd">$!date.format("yyyy-MM-dd HH:mm", ${m.playingTime})</div></td>
  </tr>
  #end
</table>