#if($!{tickets} && ${tickets.size()}>0)
<tr id="schemeSplit">
        <th class="thl"><div class="inth">方案拆分详情<br/>实际出票赔率</div></th>
        <td>
          <div class="intd">
            <a href="javascript:void(0);" class="c-c" id="showTicketBtn">点击展开查看出票信息明细</a>【投注内容的让分及赔率以此为准】
            <div id="ticketGrid" class="tblbox tblbox-c" style="display:none;">
              <table cellspacing="0" class="tbl">
              #if(${scheme.lotteryId}=='JCZQ' || ${scheme.lotteryId}=='JCLQ')
                <tr>
                  <th style="width:50px;"><div class="inth"><div class="hide">编号</div></div></th>
                  <th style="width:154px;"><div class="inth"><div class="hide">彩票号码</div></div></th>
                  <th style="width:60px;"><div class="inth"><div class="hide">倍数</div></div></th>
                  <th style="width:60px;"><div class="inth"><div class="hide">金额(元)</div></div></th>
				  <th style="width:60px;"><div class="inth"><div class="hide">奖金(元)</div></div></th>
				  <th style="width:80px;"><div class="inth"><div class="hide">状态</div></div></th>
                  <th class="thr"><div class="inth"><div class="hide">投注内容(出票赔率)</div></div></th>
                </tr>
	                #foreach($t in ${tickets})
	                <tr #if(${tickets.size().equals($velocityCount)}) class="last" #end>
	                  <td style="text-align:center;">$velocityCount</td>
	                  <td style="text-align:center;">#if(${t.number})${t.number}#else -- #end</td>
	                  <td style="text-align:center;">${t.multiple}</td>
	                  <td style="text-align:right;padding:0 3px;">￥${t.money}</td>
	                  <td style="text-align:right;padding:0 3px;">#if(${t.afterTaxBonus})￥${t.afterTaxBonus}#end</td>
	                  <td style="text-align:center;">$status.bet(${t.status})</td>
	                  <td class="tdr" style="text-align:center;">
	                    #foreach($m in ${scheme.cgjTeams})
							$!{m.teamName}
						#end
						#if($!{t.odds})
						($!{t.odds})
						#end
	                  </td>
	                </tr>
	                #end
                #end
              </table>
            </div>
          </div>
        </td>
      </tr>
  #end