#set($styles = ["css/admin/common.css", "css/admin/table-patch.css",
	"css/admin/jquery-ui-patch.css", "css/admin/TextboxList.css"])
#set($scripts = ["js/admin/topic.js", "js/admin/TextboxList.js", 
	"js/admin/GrowingInput.js", "js/admin/jquery-ui-1.10.3.custom.min.js",
	"js/admin/commons.js", "js/admin/jquery.form.js","js/match/match.js"])
<div class="container-fluid">
	<div class="row-fluid">
		#parse("layout/leftMenu.vm")
		<!-- content starts -->
		<div id="content" class="span10">
			<div>
				<ul class="breadcrumb">
					<li><a href="#">首页</a> <span class="divider">/</span></li>
					<li><a href="javascript:void(0)">
					待推荐赛事/#if($matchType=="fb")&nbsp;竞彩足球 #elseif($matchType=="bb")&nbsp;竞彩篮球 #elseif($matchType=="bjdc")&nbsp;北京单场#end</a></li>
				</ul>
			</div>
			<div class="user-opt-list">
                <ul>
                    <li><a href="javascript:void(0);" id="addrecommend">推荐</a></li>
                    <!--
                    <li><a href="javascript:void(0);" id="delete_topic_btn">删除</a></li>
                    <li><a href="javascript:void(0);" id="edit_topic_btn">编辑</a></li>
                    -->
				</ul>
			</div>
			<!--表格内容开始-->
			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round">
								<i class="icon-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="box-content">
						<div id="topic_table">
						<form id="matchForm" ftype="$matchType">
							<table class="table table-striped table-bordered bootstrap-datatable">
								<thead>
									<tr>
										<th style="width: 46px;">彩种</th>
										<th style="width: 20px;">玩法</th>
										<th style="width: 30px;">联赛名称</th>
										<th style="width: 50px;">主队（让球数）</th>
										<th style="width: 50px;">客队</th>
										<th style="width: 50px;">比赛时间</th>
										<th style="width: 40px;">截止投注时间</th>
										<th style="width: 50px;">推荐选项</th>
										<th style="width: 120px">推荐</th>
										<th style="width: 20px">推荐人</th>
									</tr>
								</thead>
								<tbody>
									#foreach($match in ${matchs.results})
									<tr class="odd">
										<td>
										   #if($match.isOn==0)
										    <input type="checkbox" name="recommend" value="$!{match.id}" scheme_id="$!{match.schemeId}"/>
										   #else
										    <span style="margin-left:27px"></span>
										   #end
											
											#if($matchType=="fb")
											         竞彩足球 
											#elseif($matchType=="bb")
											           竞彩篮球 
											#elseif($matchType=="bjdc")
											           北京单场
											#end
										
										</td>
										<td>#playtype($!{match.playId})</td>
										<td>$!{match.leagueName}</td>
										<td>$!{match.homeTeamName}（${match.concedePoints}）</td>
										<td>$!{match.guestTeamName}</td>
										<td>#if($match.playingTime)$date.format("yyyy-MM-dd HH:mm:ss", $match.playingTime) 
											#else #end
										</td>
										<td>
										   #if($match.entrustDeadline)$date.format("yyyy-MM-dd HH:mm:ss", $match.entrustDeadline) 
											#else #end
										</td>
										<td>
										
										#if($matchType=="bb")
										   #bbPlayType($!{match.code}) 
										#else
										   #subPlayType($!{match.code},$matchType)
										#end
										</td>
										<td>
										   $!{match.annotation}
										</td>
										<td>
										  $!{match.sponsor}
										</td>
									</tr>
									#end
								</tbody>
							</table>
							</form>
							<div class="pager-wrapper">
						          #pagerHtml($matchs.pageNo $matchs.getPageCount())
					        </div>
						</div>
					</div>
				</div>
			</div>
			<!--表格内容结束-->
		</div>
		<!-- content ends -->
	</div>
	<hr>
	#include("layout/copyright.vm")
</div>