#set($styles = ["css/admin/common.css", "css/admin/table-patch.css",
	"css/admin/jquery-ui-patch.css", "css/admin/TextboxList.css",
	"css/admin/jquery-ui/jquery-ui-1.10.3.custom.min.css"])
#set($scripts = ["js/admin/weiboNews.js", "js/admin/TextboxList.js", 
	"js/admin/GrowingInput.js", "js/admin/jquery-ui-1.10.3.custom.min.js",
	"js/admin/commons.js", "js/admin/jquery.form.js"])
	
#set($weiboWebDomainScripts = ["js/web/atDemo.js",
							   "js/widgets/jquery.autocomplete.js",
							   "js/widgets/jquery.atwho.js"])

#set($weiboWebDomainStyles = ["css/wb_list.css",
							  "css/jquery.atwho.css",							   
							  "css/jquery.autocomplete.css"])							   
						

<!--编辑微博新闻对话框-->
<div id="edit_news_dialog" title="对话框" class="dialog-define">
	<input type="hidden" value=""  serial="id" readonly="readonly"/>
	<input type="hidden" value=""  serial="newsType"/>
	<input type="hidden" value=""  serial="url"/>
	<input type="hidden" value=""  serial="source"/>
    <span class="dialog-span">标题：</span>
    	<input type="text" value="" serial="title" class="min-width"/><br/>
    <span class="dialog-span">内容：
    	</span><textarea class="form-control" serial="content" rows="18" cols="300"></textarea><br/>
	<span class="edit-news-submit dialog-submit">提交</span>
</div>

<!--发布微博新闻对话框-->
<div id="publish_news_dialog" title="发布至" class="dialog-define">
	<div class="user-opt-list">
        <ul>
        #foreach($lotteryUser in ${lotteryUsers})
            <li><a href="javascript:void(0);" button_type="lotteryUser" publishTo="" weiboUserId="$lotteryUser.weiboUserId">$lotteryUser.nickName</a></li>
        #end
		</ul>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		#parse("layout/leftMenu.vm")
		<!-- content starts -->
		<div id="content" class="span10">
			<div>
				<ul class="breadcrumb">
					<li><a href="introduce.do">首页</a> <span class="divider">/</span></li>
					<li><a href="weiboNews.do">微博新闻</a></li>
				</ul>
			</div>
			<!--表格内容开始-->
			<div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header well" data-original-title="">
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round">
								<i class="icon-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="box-content">
						<div id="news_table">
							<table class="table table-striped table-bordered bootstrap-datatable">
								<thead>
									<tr>
										<th style="width: 30px;"></th>
										<th style="width: 100px;">标题</th>
										<th style="width: 200px;">内容</th>
										<th style="width: 50px;">原始URL</th>
										<th style="width: 50px;">来源</th>
										<th style="width: 20px;">新闻类型</th>
									</tr>
								</thead>
								<tbody id="weiboNews_tbody">
									#foreach($news in ${weiboNews})
										#set($tmpId=($news.id.replace(":","")))
										<tr class="odd" id='$tmpId'>
											<td>
												<div class="user-opt-list">
									                <ul>
									                    <li><a href="javascript:void(0);" button_type= "edit" newsId="$!{news.id}">编辑</a></li>
									                    <li><a href="javascript:void(0);" button_type= "publish" newsId="$!{news.id}">发布</a></li>
									                    <li><a href="javascript:void(0);" button_type= "delete" newsId="$!{news.id}">删除</a></li>
													</ul>
												</div>
											</td>
											<td>$!{news.title}</td>
											<td>$!{news.content}</td>
											<td><a href="$!{news.url}" target="view_window">$!{news.url}</a></td>
											<td>$!{news.source}</td>
											<td>$!{news.newsType}</td>
										</tr>
									#end
								</tbody>
							</table>
							<div class="pager-wrapper">
						        #set($newsType = "newsType=" + $newsType) 
						        #pagerHtmlWithGetPram($newsType $pageRequest.pageIndex $pageRequest.pageCount)
					        </div>
						</div>
					</div>
				</div>
			</div>
			<!--表格内容结束-->
		</div>
		<!-- content ends -->
	</div>
	<hr>
	#include("layout/copyright.vm")
</div>
<div class="wb_match_wrap" id="match_wrap">
    <div class="match_title_bar clearfix"><i class="sprites close"></i><span>请输入赛事编号/球队名称 过滤</span></div>
    <div class="match_content">
        <input class="match_input">
        <div class="helper-hidden"></div>
    </div>
</div>
<div class="ui_overlay" id="ui_overlay"></div>