.follow-page{width:490px;height: 200px;border: 1px #000 solid;margin:50px auto;}
.accept-rec-button{
	border:none;
	background: #E12319;
    float: left;
	border-radius: 3px;
	padding: 5px 10px;
	color: #fff;
	min-width:60px;
	height:25px;
	display:inline-block;
	font-family: "微软雅黑";
	margin-top:-10px;
	cursor: pointer;
}
.follow-button, .groupbuy-button{
	border:none;
	background: #E12319;
    float: left;
	border-radius: 3px;
	padding: 5px 10px;
	color: #fff;
	min-width:60px;
	height:25px;
	display:inline-block;
	font-family: "微软雅黑";
	margin-top:-10px;
}
.follow-button-active,.groupbuy-button-active{
	border:none;
	background: #fff;
	border: 1px #D4D4D4 solid;
	border-radius: 3px;
	padding: 5px 10px;
    float: left;
    min-width:60px;
	height:25px;
	display:inline-block;
	font-family: "微软雅黑";
	margin-top:-10px;
}
.follow-page-content{
	clear:both;
    width: 555px;
    height: 120px;
    border-radius: 6px;
    border: 1px #D4D4D4 solid;
    position: relative;
    margin-left: 66px;
}
.follow-page-content-i, .follow-page-content-s{
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0;
	overflow: hidden;
	border-width: 6px; /*for i change at s*/
	position: absolute;
	border-color:transparent transparent #D4D4D4 transparent;
    border-style:dashed dashed solid dashed;
	left:259px;
    top:-12px;
	z-index: 30px;
}
.follow-page-content-s{
	border-width: 5px;
	border-bottom-color: #FFFFFF;
	left: 260px;
	top: -10px;
	z-index: 40px;
}
.follow-page-content-editor{
	width: 345px;
	height: 120px;
	border-right: 1px #D4D4D4 solid ;
	float: left;
	padding: 5px;
    -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	line-height: 140%;
}
.follow-page-content-right{
	width: 198px;
	height: 120px;
	float: right;
	text-indent: 15px;
}
.follow-page-content-right p{
	line-height: 130%;
	padding-top: 10px;
}
.follow-page-content-right p input[type="text"]{
	width: 33px;
	height: 18px;
}

.follow-page-content-right p .betAmount{
	color: #FF0000;
}
.follow-page-bottom{
	clear: both;
	width: 555px;
	height: 40px;
	margin-bottom:10px;
	margin-left:67px;
	padding: 6px auto 10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	}
.follow-page-bottom input[type="checkbox"]{
	vertical-align: middle;
	margin-top:-3px;
}
.follow-page-bottom span{
}
.follow-page-bottom .Immediately-bet{
	background: #E12319;
	border: none;
	border-radius: 3px;
	padding: 3px 6px;
	color: #fff;
	font-family: "微软雅黑";
	float: right;
	margin-right: 0px;
	margin-top:-20px;
	cursor: pointer;
}
