#set($layout="web/head_foot.vm")
#set($p_title="修改提现密码")
#set($styles=["css/profile.css","css/imgareaselect/imgareaselect-default.css"])

#set($scripts=["js/cities.js","js/web/profile/profile.js","js/web/login.js",
	"js/imgareaselect/jquery.imgareaselect.pack.js",
	"js/jquery.form.js",
	"js/web/profile/tx_password.js"])

<div id="modify-login-password">
	#parse("web/profile/inc/profile_header.vm")
  	#if($account.bank && $account.accountNumber)
		  <p class="modify-login-password-title">Hi，$!user.nickName，欢迎为大V彩账号设置新 <span>提现密码。</span></p>
		  <form id="accountPasswordForm" action="ajax_modify_acc_pwd" method="post" class="login-password-form">
		    <ul>
		      <li>
		        <label for="oldPassword">原密码：</label>
		        <input id="accOldPassword" type="password" name="oldPassword"  placeholder="请输入您的原提现密码">
		      	<span class="err" id="acc_old_pwd_err"></span>
		      </li>
		      <li>
	              <label for="newPassword">新密码：</label>
	              <input id="accNewPassword" type="password" name="newPassword"  placeholder="输入您的新提现密码">
              	  <span class="err" id="acc_new_pwd_err"></span>
              </li>
              <li>
                <label for="confirmPassword">确认密码：</label>
                <input id="accConfirmPassword" type="password" name="newPasswords"  placeholder="请再输入一次您的新提现密码"></input>
		      	<span class="err" id="acc_new_pwds_err"></span>
		      </li>
		      <li  class="login-password-form-li">
		      	<label></label>
		      	<button id="acc_modify_pwd_btn" class="login-password-form-confirm">确定</button>
		      </li>
		     </ul>
		  </form>
	#else
		<ul style="margin-top:25px;margin-left:10px;height:200px;">
		      <li>
		        <label for="">未设置银行卡：</label>
		        <a href="/${user.weiboUserId}/to-edit-bank">添加银行卡信息</a>
		 </ul>
	#end
</div>

<script type="text/javascript">
	jQuery(document).ready(function () {
		jQuery('#xgtxmm').attr('class','active');
		jQuery("#accountPasswordForm").submit(function(){
		  return false;
		})	
	});
</script>
