<div id="emotion_icons"></div>
<div class="foot">
	<div class="about">
		<a href="http://trade.davcai.com/df/about/about" target="_blank">关于我们</a> | 
    	<a href="http://trade.davcai.com/df/about/client" target="_blank">大V彩客户端</a> |
    	<a href="http://trade.davcai.com/df/about/contact" target="_blank">联系我们</a> | 
    	<a href="http://trade.davcai.com/df/about/legal" target="_blank">法律声明</a> | 
    	<a href="http://trade.davcai.com/df/about/faq" target="_blank">常见问题</a>
	</div>
	<div>
    	<p>提示：禁止向不满18岁的未成年人销售彩票！！ &nbsp;客服邮箱：service@davcai.com &nbsp; &nbsp; &nbsp; &nbsp;</p>
    	<p>Copyright @ 2012 大V彩  版权所有 京ICP备12043110号-4 </p>
	</div>
		<link type="text/css" rel="stylesheet" href="http://www.davcai.com/css/police.css?v=1.0.7">
		<div class="police-icon">
			 <a href="http://www.ectrustprc.org.cn/certificate.id/certificateb.php?id=20061670" target="_blank"><img src="http://www.ectrustprc.org.cn/logo/bluelogo.gif" border="0"></a>
			 <a target="_blank" href="http://webscan.360.cn/index/checkwebsite/url/www.davcai.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/8e5d6cba1299bf5110b1c91385770742"></a>
	  	     <a target="_blank" href="http://www.bj.cyberpolice.cn/index.jsp"><img src="http://www.davcai.com/images/web-police-icon.png"></a>
	  	   	 <a target="_blank" href="http://www.bjjubao.org/"><img src="http://www.davcai.com/images/crime-icon.png"></a>
	  	     <a target="_blank" href="http://www.bj.cyberpolice.cn/index.jsp"><img src="http://www.davcai.com/images/illegal-icon.png"></a>
	         <a target="_blank" style="cursor: default;" href="javascript:void(0);"><img style="width:124px" src="http://www.davcai.com/images/dv-icon-400.png"></a>
  		</div>
</div>
	
#include("web/inc/baiduStatistics.vm")