<footer>
    <p class="pull-left">&copy; <a href="http://www.davcai.com" target="_blank">大V彩微博</a> 2013</p>
    <p class="pull-right">Powered by: <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
</footer>