<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>大V彩微博管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="大V彩微博管理系统">
    <meta name="author" content="大V彩">
    #parse("layout/bootstrap-provide.vm")
	#foreach($s in $styles)
		<link href="$s" rel="stylesheet"/>
	#end
	#foreach($s in $scripts)
		<script src="$base/$s"></script>
	#end
</head>
<body>
	${screen_content}
</body>
</html>	