<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="pragma" content="no-cache" />
<title>$!{p_title}-大V彩网</title>
<meta name="keywords" content="大V彩网,竞彩足球,竞彩篮球,足彩,竞彩专家推荐,竞彩专家#if($!{keywords}),$!{keywords}#end" />
<meta name="description" content="买竞彩,选大V彩,大V彩网是中国最好最安全的网上投注平台,免费发布竞彩专家推荐信息,最新足球篮球资讯#if($!{description}),$!{description}#end" />
<link rel="shortcut icon" href="http://trade.davcai.com/df/favicon.ico"/>

#cssResEnvironment(${res.debug},${res.version})

#foreach($s in $styles)
<link type="text/css" rel="stylesheet" href="$base/${s}?v=${res.version}"/>
#end

<link rel="stylesheet" type="text/css" href="$base/css/davcai/header/header.css?v=${res.version}"/>
<link rel="stylesheet" type="text/css" href="$base/css/davcai/interest/interest.css?v=${res.version}"/>
<script language="javascript" type="text/javascript" src="$base/js/jquery.js?v=${res.version}"></script>
<script language="javascript" type="text/javascript" src="$base/js/jet.js?v=${res.version}"></script>
<script language="javascript" type="text/javascript" src="$base/js/davcai/header/module.js"></script>
<script language="javascript" type="text/javascript" src="$base/js/pop.js"></script>
<script language="javascript" type="text/javascript" src="$base/js/davcai/general_pop.js"></script>
<script language="javascript" type="text/javascript" src="$base/js/web/ueditor/ueditor.config.js?v=${res.version}"></script>
<script language="javascript" type="text/javascript" src="$base/js/web/ueditor/ueditor.all.js?v=${res.version}"></script>
<script language="javascript" type="text/javascript" src="$base/js/web/ueditor/lang/zh-cn/zh-cn.js?v=${res.version}"></script>
<script language="javascript" type="text/javascript" src="$base/js/jquery/jquery.uploadify.min.js?v=${res.version}"></script>
<script language="javascript" type="text/javascript" src="$base/js/web/jquery.emoticons.js?v=${res.version}"></script>
</head>
<body id="my-home">
<div class="davcai-header" id="ajax_login_msg" _weibouserId="$!user.weiboUserId">
	<div class="davcai-header-content">
			<div id="sync_head">
	          	<h1 id="davcai-logo">
					<a href="http://www.davcai.com/"></a>
				</h1>
	            <p class="davcai-address">
		         	<a class="huoban">新浪微博官方合作伙伴</a>
	            </p>
			</div>
	   		<form class="login-form">
	 	 		<input type="text" id="head-search"  value="搜索  讨论/用户" autocomplete="off" maxlength=""
	 	 			onfocus="this.value=''" onblur="if(this.value==''){this.value='搜索  讨论/用户'}"/>
	 	 		<span class="magnifier">
	 	 			<a href="javascript:void(0);"></a>
	 	 		</span>
			 	<!--------------下面开始searching-dropdown-menu搜索下拉菜单部分---------------------> 	
			  	<ul class="searching-dropdown-menu" id="search_result">
			  	</ul><!------searching-dropdown-menu搜索下拉菜单部分结束-------->
	   		</form>
	 </div><!----davcai-header-content结束------->
</div>

