#set($layout = "bet.vm")
#set($p_title="竞彩足球、竞彩篮球，奖金评测详情")
#set($keywords="足球,篮球,奖金评测")
#set($description="足球方案,篮球方案,奖金评测")

<style type="text/css">
body {
	background-color:white !important;
}
.link_blue:hover {
	text-decoration: underline;
}
.link_blue {
	color: #004B91;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.pince_content {
	position: relative;
}
.table_title {
    background: #F3F4F6;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
}
.border1 {
    line-height: 30px;
}
.border1 th {
	border-top: 0px none;
}

.border1 th {
    background-color: #C2E8FF;
    border-left: 1px solid #6CA7D3;
    border-top: 1px solid #6CA7D3;
    border-bottom: 1px solid #6CA7D3;
}
.border1 td {
	border-left: 1px solid #D1E5FE;
	border-top: 1px solid #D1E5FE;
	border-bottom: 1px solid #D1E5FE;
}
.pincebtnbox {
	height:50px;
	line-height:50px;
}

.bonusTitle {
	font-weight:bold;
	font-size:16px;
}

.hl_red {
	color:red;
}

.bonusDetailHide{
	display:none;
}
.detail_bold {
	font-weight:bold;
}
</style>

<div class="mod mod-d">
	<div class="border1 bonusTitle">
		#lotteryName(${schemeView.lotteryId})	>	
		#if($!{schemeView.playId})$!status.getPlayName($!{schemeView.playId}) 
		#end	>	奖金评测详情:
	</div>
</div>

<div class="mod mod-d">
	##投注详情开始
	<div class="pince_content">
    	<p class="table_title"><strong>投注详情</strong> <a style="font-size:12px;" href="javascript:void(0)" onclick="if($('.betObj').eq(0).css('display')=='none'){$('.betObj').show();this.innerHTML='[隐藏]';_gaq.push(['_trackEvent', '竞彩胜平负奖金评测页', '投注详情', '显示']);}else{$('.betObj').hide();this.innerHTML='[显示]';_gaq.push(['_trackEvent', '竞彩胜平负奖金评测页', '投注详情', '显示']);}" class="link_blue">[隐藏]</a></p>
        <table class="border1" id="wagerOption" width="100%" cellpadding="0" cellspacing="0" border="0">
		<tbody>
			<tr class="betObj" style="display: table-row;">
    			<th class="left_noborder" align="center" width="10%">场次</th>
    			<th align="center" width="20%">对阵</th>
                <th align="center">您的选项（竞彩奖金赔率）</th>
                <th align="center" width="13%">最小赔率</th>
                <th align="center" width="13%">最大赔率</th>
                <th align="center" width="10%">设胆</th>
			</tr>
			#if(${schemeView.lotteryId} == "JCZQ" || ${schemeView.lotteryId} == "JCLQ")
				#set($seedCnt = 0)
    			#foreach($m in ${schemeView.matchs})
    				#getPlayId($schemeView, $m)
    			<tr class="trClassbg betObj" style="display: table-row;">
                    <td class="left_noborder" align="center">${m.cnCode}</td>
                    <td align="center" class="Td_sub2" title="${m.name}">${m.name}</td>
                    <td align="center" class="Td_sub2">
    					$Result.cn(${_playId}, ${m.betCode}, ${m.odds})
                    </td>
                    <td align="center" class="Td_sub3">$oddsUtil.min(${m.odds.split(",")})</td>
                    <td align="center" class="Td_sub2">$oddsUtil.max(${m.odds.split(",")})</td>
    				<td align="center" class="Td_sub3">#if($m.seed)胆  #set($seedCnt = $seedCnt + 1) #else &nbsp;#end</td>
    			</tr>
    			#end
			<tr class="betObj" style="display: table-row;">
    			<td class="left_noborder" align="center" colspan="2">过关方式：<span class="font_red">$!{schemeView.passTypeIds}</span></td>
    			<td class="left_noborder" align="center"> 金额：<span class="font_red">￥$!{schemeView.totalAmount}</span> 元</td>
    			<td class="left_noborder" align="center" colspan="4">设胆：<span class="font_red" id="seed">$seedCnt</span> 个</td>
			</tr>
			#end
			<tr class="ytrbg betObj" style="display: table-row;">
				<td colspan="6" class="left_noborder" align="left">&nbsp;
					温馨提示：本方案认购截止时间：<span class="">#if($!{schemeView.offtime})$date.format("yyyy-MM-dd HH:mm:ss", $!{schemeView.offtime}) #end</span>，请您关注截止时间，以免错过投注。
				</td>
			</tr>
		</tbody>
		</table>
    </div>
</div>

##奖金评测开始
<div class="mod mod-d">
	<div class="pince_content">
       	<p class="table_title"><strong>奖金评测</strong></p>
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="border1" style="border-bottom:0 none;">
    		<tbody>
    			<tr>
                    <th colspan="1">命中场数</th>
                    <th colspan="$!{schemeView.passTypes.size()}">中奖注数</th>
    				<th width="6%" rowspan="2">倍数</th>
                    <th colspan="3">奖金范围</th>
                </tr>
                <tr>
                    <th width="7%"></th>
					#foreach($passType in $!{schemeView.passTypes})
    				<th width="6%">$!{passType.replace("@","串")}</th>
					#end
    				<th align="right">最小奖金（回报率）</th>
                    <th width="3%" class="left_noborder">～</th>
                    <th align="left" class="left_noborder">最大奖金（回报率）</th>
                </tr>
				#foreach($supposeHit in ${data.data.supposeHits})
    			<tr>
                    <td align="center" class="left_noborder">中$!{supposeHit.hitCount}场</td>
					
					#foreach($passType in $!{schemeView.passTypes})
						#set($sn = 0)
						#foreach($details in $!{supposeHit.minDetails})
							#if(${details.passType} == $passType)
								#set($sn = $sn + 1)
							#end
						#end
						<td align="center">$sn注</td>
					#end
					
    				<td align="center">$!{schemeView.multiple}</td>
                    <td align="right">
						<span class="font_red">$!math.roundTo(2, $!{supposeHit.minBonus})</span>元(#set($ration = ($!{supposeHit.minBonus}/$!{schemeView.totalAmount})*100)$!math.roundTo(1,$!ration)%) 
						<a href="javascript:void(0)" onclick="" class="link_blue bonusDetail" uuid="min_$!{supposeHit.hitCount}">[明细]</a>
					</td>
                    <td align="center" class="left_noborder"> ～ </td>
                    <td align="left" class="left_noborder">
						<span class="font_red">$!math.roundTo(2,$!{supposeHit.maxBonus})</span>元(#set($ration = ($!{supposeHit.maxBonus}/$!{schemeView.totalAmount})*100)$!math.roundTo(1,$!ration)%)  
						<a href="javascript:void(0)" onclick="" class="link_blue bonusDetail" uuid="max_$!{supposeHit.hitCount}">[明细]</a>
					</td>
                </tr>
				#end
    		</tbody>
    	</table>
        <div class="pincebtnbox font_red">注：奖金评测的为即时竞彩奖金赔率，仅供参考；最终实际奖金请按照出票后票样中的赔率计算。
    	</div>
	</div>
</div>

##奖金明细
#foreach($detail in $!{detailMap.entrySet()})
    #foreach($bonusMap in $!{detail.value})
    	#set($mod = $velocityCount % 2)
		#set($uuid = $!{detail.key})
		#if($mod == 1)
			#set($uuid = "max_" + $uuid)
		#else
			#set($uuid = "min_" + $uuid)
		#end
        <div class="mod mod-d bonusDetailHide" id="$!{uuid}">
            <div class="pince_content mingxi_list" id="PrizeDetail">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="border1">
            	<tbody>
            		<tr>
            			<th width="10%" class="left_noborder">命中场数</th>
            			<th width="10%" class="left_noborder">过关方式</th>
            			<th width="10%">中奖注数</th>
    					<th>中奖明细(#if($mod == 1) 最大奖金 #else 最小奖金 #end)</th>
            		</tr>
    					#set($bonusCnt = 0)##合计中奖注数
    					#set($totalCnt = 0)##合计中奖金额
    					#foreach($entry in $bonusMap.entrySet())
            				#if(${entry.key})
                			<tr class="">
                                <td align="center" class="left_noborder">$!{detail.key}</td>
                    			<td align="center" class="left_noborder">
            						$!{entry.key}
            					</td>
                    			<td align="center">$!{entry.value.size()}</td>#set($bonusCnt = $bonusCnt + $!{entry.value.size()})
                    			<td align="left">
                					#foreach($ticketDetail in ${entry.value})
            							#set($bn = 1)
                            			<p>
                							#foreach($matchs in ${ticketDetail.winMatches})
                        						[${matchs.matchId}]<span class="hl_red">${matchs.bonus}</span> x 
                    							#set($bn = $bn * $!{matchs.bonus})
                							#end
                        						#set($bn = $bn * $!{schemeView.multiple} * 2)
                                            <span class="hl_red">$!{schemeView.multiple}倍</span>
                    						x 2元 = $!math.roundTo(2, $!{bn})元
                    					</p>
    									#set($totalCnt = $totalCnt + $!{bn})
    								#end
                				</td>
                    		</tr>
        					#end
    					#end
            		<tr class="trHover">
            			<td align="center" class="left_noborder" colspan="2"><b>合计</b></td>
						<td align="center"><b>$bonusCnt注</b></td>
            			<td align="left"><p><b class="font_red">$!math.roundTo(2,$totalCnt)元</b></p></td>
            		</tr>
            	</tbody>
            	</table>
            </div>
        </div>
    #end
#end

<script type="text/javascript">
$(function(){
	var bonusDetailArr = $(".bonusDetailHide");
	var len = bonusDetailArr.length;
	var uuid = $(bonusDetailArr[len-2]).attr("id");
	$("#"+uuid).show();
	
	$(".bonusDetail").bind("click", function() {
		$("a").removeClass("detail_bold");
		$(this).addClass("detail_bold");
		
		var uuid = $(this).attr("uuid");
		
		$(".bonusDetailHide").hide();
		$("#"+uuid).show();
	});
});
</script>