<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>$!{p_title} - 大V彩</title>
  <meta name="keywords" content="大V彩,竞彩足球,竞彩篮球,足彩,竞彩专家推荐,竞彩专家#if($!{keywords}),$!{keywords}#end" />
  <meta name="description" content="买竞彩,选大V彩,大V彩是中国最好最安全的网上投注平台,免费发布竞彩专家推荐信息,最新足球篮球资讯#if($!{description}),$!{description}#end" />  
  <link type="text/css" rel="stylesheet" href="$base/css/layout.css" />
  <link type="text/css" rel="stylesheet" href="$base/css/reg.css" />
  <script language="javascript" type="text/javascript" src="$base/js/jquery.js"></script>
  <script language="javascript" type="text/javascript" src="$base/js/ucenter.js"></script>
  #foreach($s in $styles)
    <link type="text/css" rel="stylesheet" href="$base/${s}.css" />
  #end
  #foreach($s in $scripts)
    <script language="javascript" type="text/javascript" src="$base/${s}.js"></script>  
  #end
</head>
<body>

<div class="wrap">
  <div class="inwrap">
    <div class="head">
      #include("inc/head.inc")
    </div>
   <div class="menu">
      #include("inc/menu.inc")
    </div>
    <!-- 快速通道 -->
    <div class="posbox"> 
      #parse("inc/shortcut.vm")
    </div>
    <div class="main">
      <div class="box mp-e">
        <div class="lbox wh-boxa fl bgbrr-c">
          <div class="mod mod-e">
            <div class="mh">
              <div class="tt"><b class="icns"></b>找回密码</div>
            </div>
            <div class="mm">
              <div class="tipsbox mp-b">
                <div class="row lh36 fs14">请输入用户名和验证码，系统将设置一个新密码并把新密码发送到您注册账户时设置的邮箱中。<br>
                如您未收到邮件，请致电我们的客服，由客服人员为您解决。<b><a href="#" onclick="window.open('http://www.53kf.com/company.php?arg=laicai310&amp;style=1','_blank','height=473,width=703,fullscreen=3,top=200,left=200,status=yes,toolbar=no,menubar=no,resizable=no,scrollbars=no,location=no,titlebar=no,fullscreen=no');"><img alt="大V彩焦点图" border="0" src="http://res.davcai.com/resources/resources/picture/1/2012/06/01/2012060114107246.gif" /></a> </b>
                <a href="http://sighttp.qq.com/authd?IDKEY=e9aa8005fa20e738c0e27ecf8a43104c51e1e34b9960d08c" target="_blank" title="大V彩客服"><img alt="大V彩客服" border="0" src="http://wpa.qq.com/imgd?IDKEY=e9aa8005fa20e738c0e27ecf8a43104c51e1e34b9960d08c&amp;pic=50" /></a>
                </div>
                ##<div class="row"><a class="c-c fr" href="#" title="">在线客服</a></div>
                <span class="clear"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="rbox wh-boxb fr" style="float:left;position: relative;left: 300px;width:500px;">
          <div class="mod mod-e">
            $screen_content
          </div>
        </div>
        <span class="clear"></span>
      </div>
    </div>
  </div>
</div>
#include("inc/footer.inc")
</body>
</html>