<?xml version="1.0" encoding="UTF-8"?>
<beans  
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  	xmlns:context="http://www.springframework.org/schema/context"
  	xmlns:task="http://www.springframework.org/schema/task"
  	xsi:schemaLocation="
  		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	
		
	<import resource="spring-db.xml" />
	<import resource="spring-service.xml" />
	<import resource="spring-share.xml" />
	<import resource="spring-activemq.xml" />
	
	<!-- 定时执行的任务 -->
	<bean id="ticketInformJob" class="com.xhcms.lottery.pb.job.TicketInformJob"></bean>
	<bean id="ticketWinJob" class="com.xhcms.lottery.pb.job.TicketWinJob"></bean>
	<bean id="withdrawInformJob" class="com.xhcms.lottery.pb.job.WithdrawInformJob"></bean>

	<!-- 将需要定时执行的任务配置给spring调度对象 -->
	<bean id="ticketInformJobDetailFactory"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="ticketInformJob" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="ticketWinJobDetailFactory"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="ticketWinJob" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="withdrawInformJobDetailFactory"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="withdrawInformJob" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>

	<!-- 设置触发时间bean -->
	<bean id="ticketInformJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="ticketInformJobDetailFactory" />
		</property>
		<property name="cronExpression">
			<value>0 * * * * ?</value>
		</property>
	</bean>

	<bean id="ticketWinJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="ticketWinJobDetailFactory" />
		</property>
		<property name="cronExpression">
			<value>30 * * * * ?</value>
		</property>
	</bean>
	<bean id="withdrawInformJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="withdrawInformJobDetailFactory" />
		</property>
		<property name="cronExpression">
			<value>15 * * * * ?</value>
		</property>
	</bean>

	<!-- lazy-init='false' 容器启动就会执行调度程序 -->
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="ticketInformJobTrigger" />
				<ref bean="ticketWinJobTrigger" />
				<ref bean="withdrawInformJobTrigger" />
			</list>
		</property>
	</bean>

	<task:executor id="executorWithCallerRunsPolicy"
		pool-size="10-50" queue-capacity="100" rejection-policy="CALLER_RUNS" />
</beans>
