<div class="helpbox minh-a" style="padding:6px 12px;">
<h3>
	&nbsp;</h3>
<p>
	<strong>1、 充值方式</strong><br>
	<br>
	大V彩可以通过支付宝、易宝支付和银联银行进行充值。&nbsp;<br>
	<strong>支付宝充值：</strong><br>
	&nbsp;<br>
	&nbsp;</p>
<p>
	1、填写充值金额</p>
<p>
	<br>
	&nbsp;</p>
<p>
	<img alt="" height="85" src="http://images.davcai.com/faq/picture/1/2012/07/20/20120720124730232.jpg" width="262"></p>
<p>
	2、选择第三方支付—支付宝余额<br>
	<img alt="" height="107" src="http://images.davcai.com/faq/picture/1/2012/07/20/20120720124925838.jpg" width="378"></p>
<p>
	<br>
	&nbsp;</p>
<p>
	3、点击“下一步”即可进入到支付宝余额支付</p>
<p>
	<strong>请您务必先下载支付宝数字证书</strong>，<strong>这样才可以正常使用支付宝余额支付功能；<br>
	如果您没有下载支付证书，可以在支付宝页面选择其他的支付方式</strong>；选择这样这种支付方式每个银行会有不同的支付限额<br>
	<strong>各银行的网上银行支付限额总表：</strong><a href="http://help.alipay.com/lab/help_detail.htm?help_id=211661"><span style="color: #006400"><strong>http://help.alipay.com/lab/help_detail.htm?help_id=211661</strong></span></a><span style="color: #006400">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
	<img alt="" height="241" src="http://images.davcai.com/faq/picture/1/2012/07/20/20120720125040468.jpg" width="550">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
	4、充值成功后您可以去投注页面进行投注啦！<br>
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
	&nbsp;</p>
<p>
	&nbsp;<strong>易宝支付充值：</strong><br>
	&nbsp;<br>
	&nbsp;</p>
<p>
	1、填写充值金额<br>
	<img alt="" height="85" src="http://images.davcai.com/faq/picture/1/2012/07/20/20120720124730232.jpg" width="262"></p>
<p>
	<br>
	&nbsp;</p>
<p>
	2、选择第三方支付—易宝支付<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img alt="" height="90" src="http://images.davcai.com/faq/picture/1/2012/07/20/20120720125327344.jpg" width="365"><br>
	&nbsp;</p>
<p>
	3、进入到相关银行充值页面</p>
<p>
	4、充值成功后您可以去投注页面进行投注啦！<br>
	<br>
	<strong>银行直接充值</strong><br>
	<br>
	1、选择银行<br>
	<img alt="" height="139" src="http://images.davcai.com/faq/picture/1/2012/07/20/20120720125235372.jpg" width="550"><br>
	&nbsp;</p>
<p>
	&nbsp;2、进入到相关银行充值页面<br>
	&nbsp;3、充值成功后您可以去投注页面进行投注啦！<br>
	<br>
	&nbsp;</p>
<div class="pager">
	<h3>
		&nbsp;</h3>
</div>
<p>
	<strong>2、&nbsp; 如何开通网上银行</strong></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp; 网上银行充值需要您已经开通对应银行卡的网上银行业务。（具体可到各相应银行营业点咨询）在银行柜台办理开通网上支付业务，需提供如下资料：申请人本人有效身份证件、所需注册的本地银行卡；银行经办员审核上述资料无误后，将与客户签署《网上银行个人客户服务协议》，办理注册资料录入、设置网上银行密码等注册手续。<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
	各银行官方网站<br>
	工商银行网上银行官方网站：<a href="http://www.icbc.com.cn">http://www.icbc.com.cn</a><br>
	招商银行网上银行官方网站：<a href="http://www.cmbchina.com">http://www.cmbchina.com</a><br>
	农业银行网上银行官方网站：<a href="http://www.95599.cn">http://www.95599.cn</a><br>
	建设银行网上银行官方网站：<a href="http://www.ccb.cn">http://www.ccb.cn</a><br>
	浦发银行网上银行官方网站：<a href="http://www.spdb.com.cn/chpage/c1/">http://www.spdb.com.cn/chpage/c1/</a><br>
	深圳发展银行网上银行官方网站：<a href="http://www.sdb.com.cn/website/page">http://www.sdb.com.cn/website/page</a><br>
	交通银行网上银行官方网站：<a href="http://www.bankcomm.com">http://www.bankcomm.com</a><br>
	兴业银行网上银行官方网站：<a href="http://www.cib.com.cn/netbank/cn/index.html">http://www.cib.com.cn/netbank/cn/index.html</a><br>
	民生银行网上银行官方网站：<a href="http://www.cmbc.com.cn">http://www.cmbc.com.cn</a><br>
	光大银行网上银行官方网站：<a href="http://www.cebbank.com/Site/ceb/cn">http://www.cebbank.com/Site/ceb/cn</a><br>
	中信银行网上银行官方网站：<a href="http://www.ecitic.com/bank/">http://www.ecitic.com/bank/</a><br>
	广发银行网上银行官方网站：<a href="http://www.gdb.com.cn/">http://www.gdb.com.cn/</a></p>
<p>
	<strong>3、&nbsp; 网上银行充值未及时到帐怎么办？</strong></p>
<p>
	　网上支付未及时到帐可能有以下几个原因造成：<br>
	&nbsp; 由于网速或者支付接口等问题，支付数据没有及时传送到支付系统造成的；<br>
	&nbsp; 网速过慢，数据传输超时，使银行后台支付信息不能成功对接，导致银行交易成功而支付后台显示失败；<br>
	&nbsp; 在网上支付如果使用某些防火墙软件，有时会屏蔽银行接口的弹出窗口，这时会造成在银行那边被扣费，但在我们网站上显示尚没支付。但请您放心，每天我们都会根据银行系统的帐务明细清单对前一天的订单进行逐笔核对。</p>
<p>
	<strong>&nbsp;4、 通过网上充值，出现该页面无法显示怎么办？</strong></p>
<p>
	&nbsp;没有升级IE浏览器，导致加密级别过低，无法进入银行系统。 请升级到6.0及以上版本。<br>
	&nbsp;网环境或上网方式受限，可能是网络服务商限制，如有条件更换一种上网方式或环境。<br>
	&nbsp;瞬间网络不通，尝试刷新页面；如果刷新不能解决问题，可能由于浏览器设置缓存，请在IE菜单-工&nbsp; 具-Internet选项-点击“删除cookies”和“删除文件”，用以清除临时文件。</p>
                                <span class="clear"></span>
                            </div>