<div class="helpbox minh-a" style="padding:6px 12px;">
<h3>
	&nbsp;</h3>
<p>
	<strong>1、 如何注册</strong></p>
<p>
	&nbsp; 用户进入大V彩首页(<a href="http://www.davcai.com">www.davcai.com</a>)，在首页顶部点击“免费注册”，进入用户注册页面。<br>
	&nbsp; 在注册页面阅读并同意电话投注服务协议。<br>
	&nbsp; 在注册页面填写相关信息并提交。<br>
	&nbsp; 注册成功，系统返回注册成功信息。</p>
<p>
	<strong>2、 在大V彩注册需要手续费么？</strong></p>
<p>
	&nbsp; 在大V彩注册新用户是免费的，不收取任何费用。</p>
<p>
	<strong>3、 注册时用户需要注意什么？</strong></p>
<p>
	&nbsp; 用户名一旦提交，不可更改，请选择容易记忆且安全级别高的用户名，并妥善保管。</p>
<p>
	&nbsp; 彩票中心规定按实名制销售彩票，为确保用户中奖权益，请务必填写真实姓名。</p>
<p>
	&nbsp; 身份证件是用户领取大奖的凭证，请务必填写个人真实身份证信息。</p>
<p>
	&nbsp; 填写真实有效且经常使用的电子邮箱，便于接收信息资料。</p>
<p>
	<strong>4、 注册时为什么要完善个人信息？</strong></p>
<p>
	&nbsp; 按照彩票中心规定，用户中大奖须本人亲自领取，因此注册时须提交用户真实姓名，否则会影响用户领取大奖。如用户注册时没有填写真实姓名，请尽快联系客服人员进行修改。</p>
<p>
	&nbsp;</p>
<p>
	<strong>5、&nbsp; 注册时把身份证号填写错误有什么影响？</strong></p>
<p>
	&nbsp; 按照彩票中心规定，身份证是用户领取大奖的凭证，因此注册时须提交用户本人真实身份证号，否则会影响用户领取大奖。如用户注册时没有填写真实身份证号，请尽快联系客服人员进行修改。</p>
<p>
	<strong>6、&nbsp; 真实姓名和身份证号填写错误有什么影响？</strong><br>
	&nbsp;<br>
	&nbsp; 如果填写错误会影响您的提现和领取大奖，所以注册时一定要认真填写真实姓名和身份证号信息，如果发现有错误请及时联系网站客服。</p>
<p>
	<strong>7、&nbsp; 验证码有什么作用？</strong></p>
<p>
	&nbsp; 设置验证码是为了提高系统的安全性，它可以有效防止针对某个特定账号的暴力破解（即用特定程序进行不断的登录尝试），使用验证码也是目前各网站通行的安全措施。</p>
<p>
	<strong>8、&nbsp; 看不到验证码或总提示验证码不正确？</strong></p>
<p>
	&nbsp; 看不到验证码或者总是提示验证码输入错误，可能的原因有：<br>
	&nbsp; 网速过慢，请多刷新几次页面；<br>
	&nbsp; 输入错误，数字有全角和半角之分，请换用半角方式输入；<br>
	&nbsp; 安全级别设置过高，请将IE的安全级别设为“默认级别”；<br>
	&nbsp; 网页没有自动更新，请先设置浏览器的“Internet临时文件”为“自动”更新。</p>
<p>
	<strong>9、&nbsp; 忘记登录密码怎么办？&nbsp;</strong></p>
<p>
	&nbsp; 如果忘记登录密码，请点击用户登录区的“忘记密码”，输入用户名和验证码后点击“找回密码”。系统将设置一个新密码并把新密码发送到用户注册提交的电子邮箱中，为保障账户安全，建议用户登录后立即修改密码。</p>
<p>
	<strong>10、&nbsp; 索回密码却都不到邮件怎么办？</strong></p>
<p>
	&nbsp;&nbsp; 确定您注册时输入的邮箱地址是您现在使用的邮箱。<br>
	&nbsp;&nbsp; 耐心等待，有时候网络会延时。<br>
	&nbsp;&nbsp; 请查看一下您的垃圾邮件中，是否有取回密码的邮件。<br>
	&nbsp;&nbsp; 邮箱自身的问题，存在收不到邮件的情况。<br>
	&nbsp;&nbsp; 您的邮箱拒收或网络等原因造成邮件接收失败。</p>
<p>
	<strong>11、&nbsp; 如何修改登录密码？</strong></p>
<p>
	&nbsp;&nbsp; 操作流程如下：<br>
	&nbsp;&nbsp; 登陆后进入首页，点击“我的账户”。<br>
	&nbsp;&nbsp; 在“我的账户”页面左侧“账户管理”中选择“密码管理”。<br>
	&nbsp;&nbsp; 用户输入旧密码，并设置新密码。<br>
	&nbsp;&nbsp; 提交信息，修改密码成功，系统提示成功信息。</p>
                                <span class="clear"></span>
                            </div>