<div class="helpbox minh-a" style="padding:6px 12px;">
<p>
	&nbsp;</p>
<div style="text-align: center">
	<span style="color: #ff0000"><strong>晒单跟单详解</strong></span><br>
	&nbsp;</div>
<div>
	<strong>一，跟单帮助：</strong><br>
	&nbsp;</div>
<div>
	第一步 &nbsp;打开“晒单跟单”页面，可以选择“热门推荐”“足球跟单”“篮球跟单”<br>
	<br>
	<img alt="" height="255" src="http://images.davcai.com/faq/picture/1/2012/07/06/20120706212714837.jpg" width="543"></div>
<div>
	&nbsp;</div>
<div>
	第二步 点看要跟单的发起人的方案<br>
	&nbsp;</div>
<div>
	<img alt="" height="159" src="http://images.davcai.com/faq/picture/1/2012/07/06/2012070621284632.jpg" width="546"></div>
<div>
	&nbsp;</div>
<div>
	第三步 查看跟单方案 选择要跟单的倍数</div>
<div>
	<img alt="" height="285" src="http://images.davcai.com/faq/picture/1/2012/07/06/20120706212846230.jpg" width="533"></div>
<div>
	&nbsp;</div>
<div>
	选择公开：晒单人发单后，所有人都立即可以看到该方案。<br>
	选择仅对跟单者公开（跟单后即公开）：只有跟单者才能看到该方案，不跟单的人看不到方案。。<br>
	选择仅对跟单者公开（销售截止后公开）：跟单人在销售截止后才能看到该方案，跟单者在销售截止前以及不跟单的人无法看到方案。<br>
	选择开奖后公开：派奖前，该方案任何人无法看到；派奖后，方案向所有人公开，包括跟单者以及不跟单者都可以看到该方案。<br>
	<img alt="" height="33" src="http://images.davcai.com/faq/picture/1/2012/07/06/20120706213945719.jpg" width="547"></div>
<div>
	&nbsp;</div>
<div>
	第四步 选择好要跟单的倍数后，“立即投注”。系统会提示您是否选择跟单，继续选择“确定。”</div>
<div>
	<img alt="" height="187" src="http://images.davcai.com/faq/picture/1/2012/07/06/2012070621303916.jpg" width="269"></div>
<div>
	&nbsp;</div>
<div>
	第五步 确定跟单后 可以在“我的账户中”查询记录。<br>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	<strong>二、晒单帮助</strong><br>
	&nbsp;</div>
<div>
	第一步 &nbsp;选择所有投注的比赛<br>
	&nbsp;</div>
<div>
	第二步 &nbsp;选择晒单<br>
	<br>
	<img alt="" height="151" src="http://images.davcai.com/faq/picture/1/2012/07/06/20120706214214493.jpg" width="540"></div>
<div>
	&nbsp;</div>
<div>
	第三步 &nbsp;选择跟单方案保密选项<br>
	<br>
	<img alt="" height="163" src="http://images.davcai.com/faq/picture/1/2012/07/06/20120706214251254.jpg" width="543"></div>
<div>
	&nbsp;</div>
<div>
	选择公开：晒单人发单后，所有人都立即可以看到该方案。<br>
	选择仅对跟单者公开（跟单后即公开）：只有跟单者才能看到该方案，不跟单的人看不到方案。。<br>
	选择仅对跟单者公开（销售截止后公开）：跟单人在销售截止后才能看到该方案，跟单者在销售截止前以及不跟单的人无法看到方案。<br>
	选择开奖后公开：派奖前，该方案任何人无法看到；派奖后，方案向所有人公开，包括跟单者以及不跟单者都可以看到该方案。<br>
	&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	第四步 选择跟单提成比例<br>
	<br>
	<img alt="" height="112" src="http://images.davcai.com/faq/picture/1/2012/07/06/2012070621432728.jpg" width="550"></div>
<div>
	&nbsp;</div>
<div>
	<br>
	&nbsp; 在“跟单提成比例”下拉菜单中选择“1%-5%”任意一项，代表晒单人要在跟单人中奖后抽取中奖额度的“1%-5%”作为佣金，以提成比例“1%”为例：中奖额度为100元，那么晒单人就将抽取“100元*1%=1元”作为晒单的佣金。（注意：如果跟单人跟单的本金&gt;中奖金额，则无需缴纳佣金，比如：跟单人投注本金为100元，跟单后中奖且额度为99.99元或小于99.99元，跟单人的佣金为0.）。所有跟单的人中奖后，按发起人选择的提成比例分成给发起人，提成金额由系统自动派发。</div>
<div>
	&nbsp;</div>
<div>
	第五步 全额认购后可以在“我的账户中”查询记录。<br>
	<br>
	&nbsp;</div>
<div>
	<strong>三、温馨提示：</strong><br>
	<br>
	&nbsp; &nbsp; 大家可以选择自己喜欢或者熟悉的高手跟单，也可以根据发起人的战绩来选择跟单。<br>
	&nbsp;</div>
<div>
	<strong>四、战绩规则：</strong><br>
	<br>
	1金皇冠=10金钻&nbsp;</div>
<div>
	1金钻=10金星&nbsp;</div>
<div>
	1金星：成功方案盈利≥1000且回报≥１倍 或成功方案盈利≥500且回报≥5倍 或回报≥20倍</div>
<div>
	大额赢利奖励：</div>
<div>
	1 金钻：1万≤成功方案盈利＜50万；</div>
<div>
	1 金冠：成功方案盈利≥50万<br>
	<br>
	<br>
	<a href="http://www.davcai.com/follow/index.do"><span style="color: rgb(0,128,0)">晒单跟单&lt;&lt;</span></a><br>
	<br>
	<a href="http://www.davcai.com/follow/listFootballScheme.do"><span style="color: rgb(0,128,0)">竞彩足球跟单&lt;&lt;</span></a><br>
	<br>
	<a href="http://www.davcai.com/follow/listBasketballScheme.do"><span style="color: rgb(0,128,0)">竞彩篮球跟单&lt;&lt;</span></a></div>
<div>
	&nbsp;</div>
                                <span class="clear"></span>
                            </div>