#set($p_title = "我的优惠劵")
#set($pos = "myvoucher")
<script language="javascript" type="text/javascript" src="$base/js/jquery.blockUI.js"></script>
<div class="lyr lyw-g fr">
	<div class="mod mod-c mod-c-a">
	 <div class="mh">
      <div class="tabh tabh-e">
        <a href="javascript:void(0);"  class="cur"><span>我的优惠劵</span></a>
        <a href="$base/usedVoucher.do"><span>已使用</span></a>
        <a href="$base/invalidVoucher.do"><span>已过期</span></a>
      </div>
    </div>
    <div class="mm">
    	<form id="qForm" action="$base/voucher.do" method="post">
    		<input type="hidden" name="pageNo" value="${paging.pageNo}"/>
    	</form>
    	<div class="mp-ma"></div>
    	#if($!{paging} && $!{paging.results} && ${paging.results.size()} > 0)
    	<div class="tblbox tblbox-c mp-f">
    		<table cellspacing="0" cellpadding="0" border="0" class="tbl">
         	<tr>
            	<th style="border-right:none;"  class="thl"><div class="inth"><div class="hide">优惠劵</div></div></th>
            	<th style="border-right:none;width:120px;"><div class="inth"><div class="hide">名称/编号</div></div></th>
            	<th style="border-right:none;width:60px;"><div class="inth"><div class="hide">面值</div></div></th>
            	<th style="border-right:none;width:120px;"><div class="inth"><div class="hide">有效期</div></div></th>
            	<th style="border-right:none;" ><div class="inth"><div class="hide">使用说明</div></div></th>
            	<th style="width:120px;" class="thr"><div class="inth"><div class="hide">状态</div></div></th>
          	</tr>
          	#foreach($v in $paging.results)
          	<tr>
            	<td style="border-right:none;" class="tdl"><span  #if($v.voucher.price > 0) class="voucher" #else class="voucher_scj" #end><span  #if($v.voucher.price > 0) class="voucher_number" #else class="voucher_number_scj" #end>$math.toInteger(${v.voucher.grant})</span></span></td>
            	<td style="border-right:none;" >${v.voucher.name}<br/><span class="buy_date">$v.id<span></td>
            	<td style="border-right:none;" >$math.toInteger(${v.voucher.grant})</td>
            	<td style="border-right:none;"  class="buy_date">$date.format("yyyy-MM-dd HH:mm", ${v.effectTime})<br/>$date.format("yyyy-MM-dd HH:mm", ${v.deadTime})</td>
            	<td style="border-right:none;" >$v.voucher.instructions</td>
            	<td class="tdr">#if($v.status==0 || $v.status==1 )
            		#if($v.voucher.price > 0) 
            			<span  class="btn_voucher"  name="userRechargeVoucher" _limit="$!v.voucher.limit">使用优惠劵</span>
            		#else
            			<span  class="btn_voucher_scj" name="grantVoucherBtn" _v="$v.id" _limit="$!v.voucher.limit">使用彩金劵</span>
            		#end
            			#end</td>
          	</tr>
          	#end
          	<tr class="last">
            	<td colspan="6" class="tdr" style="text-align:right;">
              	<div class="pager fr">
                	#pager($paging, 8, "pager")
              	</div>
            	</td>
          	</tr>
          	</table>
    	</div>
    	#else
    		<div class="info_box">您目前没有有效的优惠券</div>
    	#end
    	<span class="cb">&nbsp;</span>
    </div>
   </div>
</div>

<script language="javascript" type="text/javascript">
	function pager_reload(pn){
	    $('#qForm').find(':input[name="pageNo"]').val(pn);
	    $("#qForm").submit();
	}
	$("[name='userRechargeVoucher']").click(function(){
		var thisobj = $(this);
		if(thisobj.attr("_limit") != "" && thisobj.attr("_limit") != "web"){
	 		alert("此劵只能在客户端使用。");
	 		return;
	 	}
	 	window.location.href='/ac/recharge.do';
	});
	$("[name='grantVoucherBtn']").click(function(){
	 	var thisobj = $(this);
	 	if(thisobj.attr("_limit") != "" && thisobj.attr("_limit") != "web"){
	 		alert("此劵只能在客户端使用。");
	 		return;
	 	}
	 	$.blockUI(); 
	 	$.post("/ac/useGrantVoucher.do?", "voucherId="+thisobj.attr("_v"), function(result, e) {
			if (result != null) {
				if (result.success) {
					alert("使用成功！请查看赠款余额！");
				} else {
					alert("使用失败！");
				}
				$("#qForm").submit();
			}
		}, 'json').error(function(e) {
			alert("操作失败！"+e);
			$.unblockUI(); });
	 });
</script>