#set($layout="web/head_foot.vm")
#set($p_title="找回密码")
#set($scripts=["js/web/forget-pwd.js"])

<div id="lostpw_block" class="formblock" style="margin: 40px auto;width: 700px;">
	<h2 style="margin: 5px 90px; font-weight: 700;">重设大V彩帐号密码</h2>
	<p style="margin-top: 20px;">如果你忘记大V彩账号登录密码，请填写你的登录邮箱，根据提示即可完成密码重设。</p>
	<p class="msg">使用第三方网站登录的用户(如微博/QQ)，请输入注册时填写的保密邮箱</p>
	<form id="lostpwForm" method="post" action="">
		<div>
			<label class="email">邮箱：</label>
			<input id="email" type="text" name="email" null_text="请输入电子邮箱" class="email">
		</div>
		<input type="button" name="submit" id="send-email-btn" value="找回密码" class="button_red" style="margin-left: 95px;">
		<div id="message" style="color:red;margin-top:10px;margin-left:95px;"></div>
		<div class="loading" style="display:none;"></div>
	</form>
</div>
