body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../导航-banner_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:3px;
    top:28px;
    width:940px;
    height:90px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:96px;
}

.u1 {
    position:absolute;
    left:2px;
    top:37px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../导航-链接_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:153px;
    top:128px;
    width:790px;
    height:40px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:796px;
    height:46px;
}

.u3 {
    position:absolute;
    left:2px;
    top:12px;
    width:786px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:213px;
    top:140px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:263px;
    top:140px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:333px;
    top:140px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:403px;
    top:140px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:473px;
    top:140px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:540px;
    top:140px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:683px;
    top:140px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:610px;
    top:140px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../导航-banner_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:193px;
    top:32px;
    width:612px;
    height:86px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:612px;
    height:86px;
}

.u14 {
    position:absolute;
    left:2px;
    top:35px;
    width:608px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../导航-banner_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:11px;
    top:43px;
    width:174px;
    height:60px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:174px;
    height:60px;
}

.u16 {
    position:absolute;
    left:2px;
    top:22px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:4px;
    top:5px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:94px;
    top:5px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:154px;
    top:5px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:194px;
    top:5px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:234px;
    top:5px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:294px;
    top:5px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../跟单定制页_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:3px;
    top:128px;
    width:140px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:46px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../通用页脚_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:8px;
    top:740px;
    width:930px;
    height:80px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:936px;
    height:86px;
}

.u28 {
    position:absolute;
    left:2px;
    top:32px;
    width:926px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

