@charset "utf-8";
/*
 * Properties 属性
 * style 样式
 */

/* bet */
.bet_pass{
    margin: 0 0;
    padding: 0;
    background: url(http://trade.davcai.com/ac/images/bet/pass.png) no-repeat 36px 36px;
    background-position: 0 0;
    color: red;
}
/* width height */
.wh-boxa {width:724px;}
.wh-boxb {width:272px;}
.wh-mg .mm {height:700px;}
.wh-lsta .w-a {width:64px;}
.wh-lsta .w-b {width:72px;}
.wh-lsta .w-c {width:50px;}
.wh-lsta .w-d {width:72px;}
.wh-lstd .tt {width:88%; margin-left:10px;}
.wh-lstd .time {width:60px; margin-right:10px;}
.wh-a {width:36%;}
.wh-b {width:252px; height:50px;}
.wh-c {width:307px;}
.wh-txtb .inipttxt {width:88px; height:22px; line-height:22px;}
@-moz-document url-prefix()
{
   .wh-txtb .inipttxt {height:18px\0; padding-top:4px\0;}
}
.wh-txtb-a .inipttxt {width:220px;}
/* color */
.c-c {color:#3273d8!important;}
.c-e {color:#f72c05!important;}
.c-f {color:#999!important;}
.c-g {color:#8f1e00!important;}
.c-h {color:#f33!important;}
.c-i {color:#f00!important;}
.c-j {color:#f93!important;}
.c-k {color:#039!important;}
.c-l {color:#e55454!important;}
/* margin padding */
.mp-ma {margin-top:10px!important;}
.mp-b {margin-bottom:-10px!important;}
.mp-c {margin:-60px 10px 0 0!important;}
.mp-d {margin:-24px 10px 0 0!important;}
.mp-e {padding:3px 18px!important;}
.mp-f {margin-top:-60px!important; padding:5px 10px!important;}
.mp-g {margin:5px 5px -1px!important;}
.mp-h {padding:5px!important; padding-bottom:0!important;}
.mp-i {padding:6px 10px!important;}
.mp-j {padding-top:6px!important; padding-bottom:6px!important;}
.mp-k {padding:6px 30px!important;}
.mp-l {margin-left:10px!important; margin-right:10px!important;}
.mp-m {padding-bottom:10px!important;}
.mp-n {margin-right:50px!important;}
.mp-o {padding:60px 0 40px 240px!important;}
.mp-p {padding-top:2px!important;}
/* background border */
.bgbrr-b {border-bottom:#f0f0f1 1px solid;}
.bgbrr-c {border-bottom:#ffcdab 1px solid;}
.bgbrr-d {background-color:#d9ebfd;}
.bgbrr-e {background-color:#f5f5f5;}
.bgbrr-f {border:#ffcdab 1px solid;}
.bgbrr-g {background-color:#f4f7fe; border:#e7eefe 1px solid;}
.bgbrr-h {background:url(../images/right.gif) no-repeat 200px 55px;}
.bgbrr-i {border-bottom:#dbdbdb 1px solid;}
.bgbrr-j {border-top:#fff 1px solid;}
/*
 * Elements 元素
 * style 样式
 */
/* shadow */
.shadow {text-shadow:#fcdebc 1px 1px 0; *position:relative; filter:dropshadow(color=#fcdebc, offx=1, offy=1);}
/* txtbg */
.txtbg {background:url(../images/txtbg.gif) no-repeat -999px 0; display:-moz-inline-box; display:inline-block; text-indent:-999px; overflow:hidden;}
.txtbg-a {width:288px; height:23px; background-position:0 0;}
.txtbg-b {width:174px; height:23px; background-position:0 -23px;}
/* icns */
.icns16_wenhao {background-position:0 0;}
.icns16_arrt {background-position:0 -16px;}
.icns16_arrb {background-position:0 -32px;}
.icns16_arrt-a {background-position:0 -80px;}
.icns16_arrb-a {background-position:0 -96px;}
.icns16_del {background-position:0 -112px;}
.icns16_arrt-b {background-position:0 -144px;}
.icns16_arrb-b {background-position:0 -160px;}
a.icns16_del:hover, a:hover .icns16_del {background-position:0 -128px;}
/* ipttxt */
.ipttxt-b {background-color:#fff; border:1px solid; border-color:#f3b18c #ffeee2 #ffecdf #f5ba9a;}
/* selectbox */
.selectbox-b {background-color:#fff; border:1px solid; border-color:#f3b18c #ffeee2 #ffecdf #f5ba9a;}
.selectbox-b .tt {line-height:22px;}
.selectbox-b .icns {margin-top:4px;}
.selectbox-b .selectlst {top:22px;}
/* btn */
.btnx2-b,
.btnx2-b .inbtn {height:23px; line-height:23px;}
.btnx2-b {color:#8f1e00; padding-right:3px; background-position:right -107px;}
.btnx2-b .inbtn {width:58px; padding-left:3px; background-position:0 -84px;}
.btnx2-b .inbtn span,
.btnx2-b .inbtn .icns16 {float:left;}
.btnx2-b .iptbtn {color:#8f1e00; width:58px; height:23px;}
.btnx2-b-a .inbtn {width:88px; padding-left:0;}
.btnx2-b-a .inbtn span {margin-left:15px;}
.btnx2-b-a .inbtn .icns16 {margin:4px 0 0 2px;}
.btnx2-b:hover {color:#8f1e00; background-position:right -153px;}
.btnx2-b:hover .inbtn {background-position:0 -130px;}
.btnx3-a,
.btnx3-a .btnx3_l,
.btnx3-a .btnx3_r {height:30px; line-height:30px; background:url(../images/btnx3.png) no-repeat -999px 0;}
.btnx3-a {color:#333; background-repeat:repeat-x; background-position:0 -30px;}
.btnx3-a .btnx3_l {width:100%; background-position:0 0;}
.btnx3-a .btnx3_r {width:100%; background-position:right -60px;}
.btnx3-a:hover {background-position:0 -120px;}
.btnx3-a:hover .btnx3_l {width:100%; background-position:0 -90px;}
.btnx3-a:hover .btnx3_r {width:100%; background-position:right -150px;}
.btnx3_acti-a,
.btnx3_acti-a:hover {background-position:0 -210px;}
.btnx3_acti-a .btnx3_l,
.btnx3_acti-a:hover .btnx3_l {background-position:0 -180px;}
.btnx3_acti-a .btnx3_r,
.btnx3_acti-a:hover .btnx3_r {background-position:right -240px;}
/* btnbox */
.btnbox {clear:both; *zoom:1;}
.btnbox-a {background:url(../images/line_eba077.gif) repeat;}
.btnbox-a .btnall {margin-left:-1px; border-left:#eb9e74 1px solid; position:relative;}
/* posbox */
.posbox-a {background-color:#fff; border:#a63500 1px solid;}
.posbox-b {background-color:#fff; border:#ccc 1px solid;}
/*
 * content 内容
 * style 样式
 */
/* mod */
.mod-b {background-color:#fff; border:#dcdae2 1px solid;}
.mod-b .mh {height:29px; background:url(../images/mod/mh-b.png) repeat-x;}
.mod-b .mh .tt {margin:3px 0 0 10px;}
.mod-c {background-color:#fff; border:#ffcdab 1px solid;}
.mod-c .mh {height:28px; background:url(../images/mod/mh-c.png) repeat-x; border-bottom:#ffcdab 1px solid;}
.mod-c .mh .tt {color:#8f1e00; margin:3px 0 0 10px;}
.mod-d {background:#fff7e1 url(../images/mod/mh-d.png) repeat-x; border:#ffcdab 1px solid;}
.mod-d .mh {height:30px;}
.mod-d .mh .tt {color:#8f1e00; font-size:1.3em; margin:7px 0 0 10px;}
.mod-d .mm {background-color:#fff;}
.mod-d-a .mh {background:url(../images/title.png) repeat-x;}
.mod-d-a .mh .tt {margin-top:4px;}
/* modh */
.modh {clear:both; *zoom:1;}
.modh-a,
.modh-b {height:27px; line-height:27px; font-weight:bold; text-align:center;}
.modh-a {background:url(../images/lbox-a.png) repeat-x; border-bottom:#fec5bd 1px solid;}
.modh-b {background:url(../images/rbox-a.png) repeat-x; border-bottom:#fff 1px solid;}
/* tabh */
.tabh-b {height:41px; padding-left:10px; background:url(../images/tabh-b.png) repeat-x; border-bottom:#ffcdab 1px solid;}
.tabh-b a {margin:6px 0 0 5px;}
.tabh-b a,
.tabh-b span {height:35px; line-height:35px; background:url(../images/tabh_cur-b.gif) no-repeat -999px 0;}
.tabh-b a {font-weight:bold; padding-right:2px; background-position:right -35px;}
.tabh-b span {padding:0 8px 0 10px; background-position:0 0;}
.tabh-b a:hover {text-decoration:none; background-position:right -175px;}
.tabh-b a:hover span {background-position:0 -140px;}
.tabh-b .cur,
.tabh-b .cur:hover {color:#fff; background-position:right -105px;}
.tabh-b .cur span,
.tabh-b .cur:hover span {background-position:0 -70px;}
.tabh-c {height:30px; padding-left:10px; background:#feebbc url(../images/tabh_cur-c.gif) repeat-x 0 29px;}
.tabh-c a {color:#000; margin:5px 2px 0 0; padding:0 1px;}
.tabh-c span {height:24px; margin-top:1px; padding:0 9px;}
.tabh-c .tips {margin:6px 0 0 10px; display:inline; float:left;}
.tips a {
	display: inline-block;
	line-height: 24px;
}
.tabh-c a:hover,
.tabh-c .cur {text-decoration:none; background:url(../images/tabh_cur-c.gif) repeat-x 0 1px;}
.tabh-c a:hover span,
.tabh-c .cur span {margin-top:0; background-color:#fff; border-top:#ffcdab 1px solid;}
.tabm-c {background:#fff url(../images/tabm-c.png) repeat-y 724px 0;}
.tabm-c .rbox {padding-bottom:70px;}
.tabh-d {height:28px;}
.tabh-d a {width:50%; margin-left:-1px; border-left:#d9ebfd 1px solid;}
.tabh-d span {width:100%; height:27px; line-height:27px; text-align:center; background-color:#f1f8ff; border-bottom:#d9ebfd 1px solid;}
.tabh-d a:hover {text-decoration:none;}
.tabh-d a:hover span {background-color:#fff;}
.tabh-d .cur span,
.tabh-d .cur:hover span {background-color:#fff; border-color:#fff;}
/* ad */
.ad-a {text-align:center; padding-top:4px;}
.ad-a .row {padding-bottom:4px;}
/* tagbox */
.tagbox-a {line-height:18px; padding:0 10px;}
.tagbox-a .row a,
.tagbox-c .row a {color:#3273d8;}
.tagbox-b {padding:10px 20px 10px 80px;}
.tagbox-b .lbl {margin-left:-60px; position:relative;}
.tagbox-c {font-weight:bold;}
.tagbox-c .row span {margin-right:30px;}
/* formbox */
.formbox .lbl,
.formbox .tips {display:inline; float:left;}
.formbox .row_l .lbl {display:inline; float:right;}
.formbox-a .row {padding-bottom:3px;}
.formbox-a .lbl,
.formbox-a .ipttxt,
.formbox-a .selectbox,
.formbox-a .iptchk,
.formbox-a .btnx2,
.formbox-a .tips {margin-top:3px; margin-right:6px;}
.formbox-a .lbl {margin-right:0;}
.formbox-a-a .lbl,
.formbox-a-a .iptchk,
.formbox-a-a .btnx2 {margin-left:10px;}
.formbox-a-c {padding:6px 12px;}
/* chkbox */
.chkbox {height:27px; padding:0 10px; background:url(../images/chkbox.png) repeat-x;}
.chkbox .tt {margin:2px 15px 0 0; float:left;}
.chkbox .iptchk {margin:2px 30px 0 0;}
/* tipsbox */
.tipsbox-a {line-height:18px;}
.tipsbox-b {margin-top:10px; padding:1px; background-color:#fff; border:#dcdae2 1px solid;}
.tipsbox-b .row {width:auto; padding:5px 10px; background-color:#f5f5f5; display:block; float:none;}
/* tblbox */
.tblbox-b {background-color:#fff; border-top:#fff 1px solid;}
.tblbox-b th {font-weight:normal; background:#eee url(../images/line_fdb.png) repeat-y;}
.tblbox-b th .inth {margin-left:1px;}
.tblbox-b th .inth .row {height:28px; line-height:28px; clear:both; overflow:hidden; *zoom:1;}
.tblbox-b th .inth .row-a {height:58px; line-height:58px;}
.tblbox-b th .icns16_wenhao {margin:0 auto -16px; position:relative; top:-20px; left:36px; display:block;}
.tblbox-b .thl {background:#eee;}
.tblbox-b .cl,
.tblbox-b .cc,
.tblbox-b .cr {background:url(../images/line_fdb.png) repeat-y; display:inline; float:left;}
.tblbox-b .cl {background:none;}
.tblbox-b td {line-height:30px; text-align:center; border-bottom:#dbdbdb 1px solid; border-left:#dbdbdb 1px solid;}
.tblbox-b .tdl {border-left:none;}
.tblbox-b .bg td {background-color:#f7f7f7;}
.tblbox-b .trcs td {background-color:#f7f7f7; border:none;}
.tblbox-b td .sort {display:block;}
.tblbox-b td .sort a {line-height:28px; color:#fff;}
.tblbox-b td .iptchk {height:28px; line-height:28px; font-weight:bold; margin-left:8px;}
.tblbox-b td .iptchk .iniptchk {margin:7px 0 0; margin:6px 0 0\0; margin:4px -3px 0\9; *margin:3px -3px -3px -4px;/*ie7、ie6*/ _margin:3px -3px -3px -4px;/*ie6*/}
.tblbox-b td .btnx3-a .bif,
.tblbox-b td .btnx3-a .peil {height:20px; line-height:20px; padding:0 6px; display:block;}
.tblbox-b td .btnx3-a .bif {margin-bottom:-10px; text-align:left;}
.tblbox-b td .btnx3-a .peil {text-align:right;}
.tblbox-c {background-color:#fff; border:#ccc 1px solid;}
.tblbox-c .tbl {border-top:#fff 1px solid;}
.tblbox-c th {height:28px; background:url(../images/tblbox-c.png) repeat-x; border-right:#ccc 1px solid;}
.tblbox-c .thr,
.tblbox-c .tdr {border-right:none;}
.tblbox-c td {text-align:center; border-right:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.tblbox-c td .iptchk {margin:0; margin-left:4px;}
.tblbox-c td .spf {padding:2px 3px; background-color:#feebbc; border:#ffcdab 1px solid;}
.tblbox-c td .spf:hover,
.tblbox-c td .spfed {text-decoration:none; background-color:#eee; border-color:#ddd;}
.tblbox-c .tdr .iptchk {margin-left:13px;}
.tblbox-d {background-color:#fff;}
.tblbox-d th,
.tblbox-d td {border-top:#fff 1px solid; border-bottom:#ccc 2px solid;}
.tblbox-d th {background-color:#eee;text-align: center;}
.tblbox-d td {padding:6px 12px;}
.tblbox-d .tblbox-c th {background-color:#eee; border-top:none; border-bottom:none;}
.tblbox-d .tblbox-c td {border-top:none; border-width:1px;}
.tblbox-e {margin:3px 10px;}
.tblbox-e th {text-align:left; border-bottom:#ccc 1px solid;}
.tblbox-e th .inth {padding:0 3px;}
.tblbox-e th .icns16_wenhao {margin:0 auto -16px; position:relative; top:-20px; left:14px; display:block;}
.tblbox-e td {border-left:#ccc 1px solid; border-bottom:#ccc 1px solid;}
.tblbox-e .tdbank,
.tblbox-e .tdl {border-left:none;}
.tblbox-e td .intd {padding:0 3px;}
.tblbox-e td .tagbox-d {padding-bottom:3px;}
.tblbox-e td .tagbox-d .spf {height:12px; line-height:12px; margin:3px 3px 0 0; padding:0 3px; background-color:#feebbc; border:#ffcdab 1px solid; float:left;}
.tblbox-e td .tagbox-d .spf span {margin:0; white-space:nowrap; float:none;}
.tblbox-e td .tagbox-d .spf:hover,
.tblbox-e td .tagbox-d .spfed {text-decoration:none; background-color:#eee; border-color:#ddd;}
.tblbox-e td .iptchk,
.tblbox-e td .icns16 {margin-left:3px;}
/* open_close */
.open_close {width:320px; height:28px; margin:0 auto;}
.open_close b,
.open_close a {float:left;}
.open_close a {margin-left:20px;}
.open_close .icns16_arrt {margin-top:5px;}
/* txtlst */
.txtlst-d .row {line-height:28px; border-top:#fff 1px solid; border-bottom:#f0f0f1 1px solid;}
.txtlst-d .bg {background-color:#f7f7f7;}
.txtlst-d .row .tt {height:28px; display:inline; float:left;}
.txtlst-d .row .time {color:#999; text-align:center; float:right;}
.txtlst-d .row_tt {background:url(../images/title.png) repeat-x 0 -1px; border-bottom:#e5e4e9 1px solid;}
.txtlst-d .col {height:28px; display:inline; float:left; overflow:hidden;}
.txtlst-d .line {width:1px; height:12px; margin:8px 0 0 -1px; background-color:#999; float:right; overflow:hidden;}
.txtlst-d-a .row,
.txtlst-d-b .row {border-bottom-color:#fff;}
.txtlst-d-a .row .tt {display:block; float:none;}
/* imglst */
.imglst-a {padding-bottom:5px;}
.imglst-a .row {width:238px; height:120px; margin-top:5px; border-right:#ffcdab 1px solid; clear:none;}
.imglst-a .img {width:56px; margin:7px 0 0 9px; padding:1px 0; background-color:#fff; border:#ffcdab 1px solid; float:left;}
.imglst-a .img img {width:38px; height:54px; margin:6px auto 4px; display:block;}
.imglst-a .img span {text-align:center; margin:0 1px; background-color:#ffcdab; display:block;}
.imglst-a .img:hover {text-decoration:none; border-color:#f60;}
.imglst-a .rbox {width:66%; margin-right:5px; margin-top:10px; display:inline; float:right;}
.imglst-a .rbox .hide {height:24px; overflow:hidden;}
.imglst-a .btnx2-a {margin:5px 0 0 10px;}
.imglst-a-a .row {width:100%; border:none; border-bottom:#dcdae2 1px solid; clear:both;}
.imglst-b {padding-bottom:10px;}
.imglst-b .img {width:67px; height:61px; margin:8px 0 0 19px; float:left;}
.imglst-b .txtbg {margin:24px 0 0 23px; float:left;}
.imglst-b .phases {margin:28px 0 0 10px;}
.imglst-b .tips {margin:-20px 0 -4px 110px; float:left; clear:both;}
/* morebox */
.morebox a {margin-left:10px;}
/* articlebox */
.articlebox {padding:30px;}
.articlebox .artitle {font-size:2em; font-weight:bold; text-align:center; padding:5px 0;}
.articlebox .artinfo {padding:5px 0;}
.articlebox .artinfo span {margin-right:20px;}
.articlebox .fontsize {margin-top:-29px; display:inline; float:right;}
.articlebox .fontsize .lbl,
.articlebox .fontsize span {float:left;}
.articlebox .fontsize span {padding:0 5px; cursor:pointer;}
.articlebox .fontsize .cur {color:#00f;}
.articlebox .sharebox {margin:-29px 160px 0 0; display:inline; float:right;}
.articlebox .detailbox {clear:both; *zoom:1;}
.articlebox .detailbox,
.articlebox .detailbox p {padding:6px 0;}
.articlebox .detailbox img {max-width:650px; width:expression(this.width > 650 ? 650 : ture);}
/* sharebox */
.sharebox {clear:both; overflow:hidden; *zoom:1;}
.sharebox .lbl,
.sharebox a {float:left;}
.sharebox a {width:16px; height:16px; margin:3px 10px 0 0; background:url(../images/share.gif) no-repeat -999px 0; text-indent:-999px; overflow:hidden;}
.sharebox .share_sina {background-position:0 0;}
.sharebox .share_qq {background-position:0 -16px;}
.sharebox .share_renren {background-position:0 -32px;}
/* choosebox */
.choosebox-a .row {width:232px; background:none; clear:none;}
.choosebox-a .sort {width:80px; height:100px;}
.choosebox-a .tagbox {width:60%; padding:35px 0 0 5px;}
.choosebox-a .tagbox .row {width:100%;}
.choosebox-a .tagbox .row span {margin-right:12px;}
/* orderbox */
.orderbox {width:1038px; height:80px; margin:-1px -20px 0; background:url(../images/orderbox/bg_c.png) repeat-x left bottom; border:#6ca7d3 1px solid; position:relative;}
.orderbox .bg_l,
.orderbox .bg_r {width:20px; height:10px; background:url(../images/orderbox/bg_lr.png) no-repeat -999px 0; position:absolute; top:-11px; display:block; overflow:hidden;}
.orderbox .bg_l {background-position:0 0; left:-1px;}
.orderbox .bg_r {background-position:0 -10px; right:-1px;}
.inorderbox {height:80px;}
.inorderbox .moreorder {width:132px; height:57px; margin:11px 0 0 22px; position:relative; display:inline; float:left;}
.inorderbox .moreorder .posbox-a {display:none;}
.inorderbox .moreorder_acti .posbox-a {display:block;}
.inorderbox .btn-a {width:132px; height:46px; line-height:18px; font-weight:bold; text-align:center; padding-top:12px; background:url(../images/orderbox/btn-a.png) no-repeat; position:absolute; z-index:1; display:block;}
.inorderbox .btn-a span {width:100%; cursor:pointer; float:left;}
.inorderbox .btn-a .icns16 {margin:-25px 10px 0 0; float:right;}
.inorderbox .btn-a:hover {color:#000; text-decoration:none; background-position:0 -58px;}
.inorderbox .moreorder_acti .btn-a,
.inorderbox .moreorder_acti .btn-a:hover {background-position:0 -116px;}
.inorderbox .delall {margin:18px 0 0 12px; float:left;}
.inorderbox .info {width:500px; margin:18px 0 0 36px; float:left;}
.inorderbox .info .row {width:100%; display:inline; float:left; clear:both;}
.inorderbox .info .lbl,
.inorderbox .info .tips {float:left;}
.inorderbox .info .iptchk {margin-right:6px;}
.inorderbox .info .morechk {width:96px; height:24px; position:relative; float:left;}
.inorderbox .info .btn-d {height:24px; padding-left:7px; position:absolute; z-index:1; display:block;}
.inorderbox .info .morechk_acti .btn-d {height:23px; padding-left:6px; background-color:#fff; border:#ccc 1px solid; border-top:none;}
.inorderbox .info .morechk .posbox-b {display:none;}
.inorderbox .info .morechk_acti .posbox-b {display:block;}
.inorderbox .info .icns16 {margin-top:4px; float:left;}
.inorderbox .info .ipttxt-b,
.inorderbox .info .tips {margin-right:24px;}
.inorderbox .info .icns16_wenhao {margin:4px 0 0 -18px; float:left;}
.inorderbox .btn-b {width:188px; height:57px; margin-top:11px; background:url(../images/orderbox/btn-b.png) no-repeat; text-indent:-999px; float:left; overflow:hidden;}
.inorderbox .btn-b:hover {background-position:0 -57px;}
.inorderbox .btn-c {width:82px; height:26px; line-height:26px; text-align:center; margin:38px 0 0 7px; background:url(../images/orderbox/btn-c.png) no-repeat; float:left;}
.inorderbox .btn-c:hover {text-decoration:none; background-position:0 -26px;}
.inorderbox .backtop {width:12px; line-height:18px; margin:10px 10px 0 0; float:right;}
/*2012-3-6 add by jiajiancheng*/
.row .btn {width:136px; height:60px; background:url(../images/bet_btn.png) no-repeat; text-indent:-999px; float:left; overflow:hidden;}
.row .btn:hover {background-position:0 -60px;}
.row .btn-b {width:136px; height:60px; background:url(../images/bet_btn.png) no-repeat;background-position:0 -120px; text-indent:-999px; float:left; overflow:hidden;}
.row .btn-b:hover {background-position:0 -180px;}

.bet-bf-maindiv{float:left;width:550px;}
.bet-bf-div{float:left;width:310px;clear:both;}
.btn-bf {margin-top: -30px; width:188px; height:57px; display:inline; background:url(../images/orderbox/btn-nb.png) no-repeat; text-indent:-999px; float:left; overflow:hidden;}

/* IE6 */
*html .btn-bf {margin-top: 35px; width:188px; height:57px; display:inline; background:url(../images/orderbox/btn-b.png) no-repeat; text-indent:-999px; float:left; overflow:hidden;}

/* IE7 */
*+html .btn-bf{margin-top: 35px; width:188px; height:57px; display:inline; background:url(../images/orderbox/btn-b.png) no-repeat; text-indent:-999px; float:left; overflow:hidden;}

.ban-bf{text-align: left; margin: -20px 0px 0px 100px; width: 320px; float: right; top: 26px;}

/* IE6 */
*html .ban-bf {text-align: left; margin: 40px 20px 0px; float: right; top: 26px;}

/* IE7 */
*+html .ban-bf {text-align: left; margin: 40px 20px 0px; float: right; top: 26px;}

.relative {
	position: relative;
}

#remainTime{
	position: absolute;
	right: 60px;
	margin: 20px 0px;
}

.win {
	color:#f00;
	font-weight: bold;
}