<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    default-autowire="byName">

    <context:annotation-config />

    <bean id="robotService" class="com.unison.lottery.weibo.bot.service.impl.RobotServiceImpl"/>
    
    
    <bean id="timedJob" class="com.unison.lottery.weibo.bot.main.TimedJob"></bean>
    
    <bean id="timedJobDetailFactory"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="timedJob" />
		</property>
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	
	<bean id="timedJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="timedJobDetailFactory" />
		</property>
		<property name="cronExpression">
			<value>0/10 * * * * ?</value>
		</property>
	</bean>
	<bean id="startQuertz" lazy-init="false" autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="timedJobTrigger" />
			</list>
		</property>
	</bean>
</beans>
