  <!----------------------下面开始是today-some-beijingfield北京单场部分----------------------->
#if($bjdcMatchRecommendVo.size()>0)
	#foreach($match in $bjdcMatchRecommendVo)
		<div class="today-some-beijingfield">
			<h4 class="vertical-bar">
				<img src="images/new-login/vertical-bar-blue.png"/>
			</h4>
			<h3 class="vertical-bar-title">北京单场</h3>
			<p class="event">今日赛事：$match.countMatch</p>
			<div class="today-some-vs" style="background-color:$match.color">
				<h6 class="today-some-vs-name">
					$match.leagueName
				</h6>
				<h6 class="today-some-vs-time">
					$!date.format('yyyy年MM月dd日',$!match.playingTime) 
					&nbsp;&nbsp; $!date.format('HH:mm',$!match.playingTime)
				</h6>
				<p class="match">
					<span class="match-left">$match.hostTeamName</span>
					 	<em>vs</em> 
					<span class="match-right">$match.guestTeamName</span>
				</p>
  	  	    </div>
			<h4 class="today-some-zjtd">专家提点</h4>
				<span class="today-some-wf">
					玩法：#if($match.betMatchRecPO.playId=="91_BJDC_SPF")
					 		胜平负 
					 	#elseif($recommend.betMatchRecPO.playId=="96_BJDC_SF")
					 		 胜负
					 	#end
				</span>&nbsp;&nbsp;
  	  	   	   	<span class="today-some-tjjg">
  	  	   	   		推荐结果：#subPlayType($match.betMatchRecPO.code,'bjdc')
  	  	   	   	</span>
  	  	   	   	<p class="today-some-introduction">
  	  	   	   		#if(${match.betMatchRecPO.annotation})
  	  	   	   			${match.betMatchRecPO.annotation}
  	  	   	   		#end
  	  	   	   	    <i>
  	  	   	   	    	<a #if($match.weiboUserId)href="http://www.davcai.com/$match.weiboUserId/$match.weiboId" #end>
  	  	   	   	    		详情>>
  	  	   	   	    	</a>
  	  	   	   	    </i>
  	  	   	   	 </p>
  	  	   	   	 <p class="item-data">
  	  	   	   	 	<span class="item-data-name" title="$!match.sponsor">
  	  	   	   	 		<a #if($match.weiboUserId)href="http://www.davcai.com/$match.weiboUserId/profile" #end>
  	  	   	   	 			$!{match.sponsor}
  	  	   	   	 		</a>
  	  	   	   	 	</span>
					<span class="item-data-review"> 
						<a #if($match.weiboUserId)href="http://www.davcai.com/$match.weiboUserId/$match.weiboId"#end>
							评论（$match.comment）
						</a>
					</span>
  	  	   	   	    <em>|</em>
  	  	   	   	    <span class="item-data-zan"> 
  	  	   	   	    	<a #if($match.weiboUserId)href="http://www.davcai.com/$match.weiboUserId/$match.weiboId"#end>
  	  	   	   	    		赞（$match.support）
  	  	   	   	    	</a>
  	  	   	   	    </span>
  	  	   	   	 </p>
  	  	   	   	 <label class="welcome-to-the-right"></label>
  	  	   	   	 <div class="today-some-bet-column" >
  	  	   	   	     <p class="cut-off-time">投注截止时间  $!date.format('yyyy年MM月dd日  HH:mm',$match.entrustDeadline)</p>
  	  	   	   	     	 <ul class="today-some-today-some-beijingfield-team">
  	  	   	   	     	     #if($match.option[0])
  	  	   	   	     	       	<li class="today-some-today-some-beijingfield-team-son">
  	  	   	   	     	       	   <div class="#isChecked($match.betMatchRecPO.code '3' 'bjdc')" odd="$match.oddsArr[0]" id="bdsheng_$velocityCount">
  	  	   	   	     	       	     	<p class="team-name">$match.hostTeamName</p>
  	  	   	   	     	       	   </div>
  	  	   	   	     	       	     	<p>赔率：$match.oddsArr[0]</p>
  	  	   	   	     	       	</li>
  	  	   	   	     	     #end
  	  	   	   	     	     #if($match.option[1])
  	  	   	   	     	       	<li class="today-some-today-some-beijingfield-team-son">
  	  	   	   	     	       	   <div class="#isChecked($match.betMatchRecPO.code "1" "bjdc")" odd="$match.oddsArr[1]" id="bdping_$velocityCount">
  	  	   	   	     	       	     	<p class="score">平局</p>
  	  	   	   	     	       	   </div>
  	  	   	   	     	       	   <p>赔率：$match.oddsArr[1]</p>
  	  	   	   	     	       	</li>
  	  	   	   	     	     #end
  	  	   	   	     	     #if($match.option[2])
  	  	   	   	     	       	<li class="today-some-today-some-beijingfield-team-son">
  	  	   	   	     	       	   <div class="#isChecked($match.betMatchRecPO.code "0" "bjdc")" odd="$match.oddsArr[2]" id="bdfu_$velocityCount">
  	  	   	   	     	       	     	<p class="team-name">$match.guestTeamName</p>
  	  	   	   	     	       	   </div>
  	  	   	   	     	       	     	<p>赔率：$match.oddsArr[2]</p>
  	  	   	   	     	       	</li>
  	  	   	   	     	     #end
  	  	   	   	       </ul>
  	  	   	   	       <div class="today-some-investment">
  	  	   	   	     	   <i>投入</i>
  	  	   	   	     	   <p>
  	  	   	   	     	      <a href="javascript:void(0);" class="today-some-investment-minus" id="bdminus_$velocityCount"></a>
  	  	   	   	     	      <input type="text" value=#computeInitMoney($match.betMatchRecPO.code "bjdc") bdchoicenum=#computeChoiceNum($match.betMatchRecPO.code "bjdc")  id="bdmoney_$velocityCount"/>
  	  	   	   	     	      <a href="javascript:void(0);" class="today-some-investment-plus" id="bdplus_$velocityCount"></a>
  	  	   	   	     	   </p>
  	  	   	   	     	   <em>元</em> <!------这个em要和P标签紧邻--------->
  	  	   	   	       </div>
  	  	   	   	     	<p class="today-some-expected-bonus">
  	  	   	   	     		<i>预计奖金：</i>
  	  	   	   	     		<label id="bdprize_$velocityCount">
  	  	   	   	     			#computePrize($match.betMatchRecPO.code $match.oddsArr "bjdc") 元
  	  	   	   	     		</label>
  	  	   	   	     	    <a href="javascript:void(0);"  class="welcome-question" id="bjdc-welcome-question_$velocityCount">
  	  	   	   	     	       	<span class="poptip popspan" id="bjdc-poptip_$velocityCount">
									<em class="poptip-top"></em>
									<em class="poptip-bottom"></em>
									<i>
										<em>说明</em><br/>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选定赛果后，系统会智能匹配一场进行全包2串1配对，只需要您选定的赛果正确，100%中奖！<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;竞猜90分钟内的赛果(含伤停补时，不含加时赛和点球)
									</i>
								</span>
  	  	   	   	     	     </a>
  	  	   	   	     	 </p>
  	  	   	   	     	       	     
  	  	   	   	     	 <button class="welcome-immediately-bet">立即投注</button>
  	  	   	    </div><!---------------today-some-bet-column部分-------------->
  	 </div><!------today-some-beijingfield北京单场部分结束-------->
   #end
 #end